<?php if (!empty($formErrors)): ?>
    <div class="form-errors">
        <div>
            <?php foreach ($formErrors as $error): ?>
                <p><?php echo $error; ?></p>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<form <?php echo $form->initFormTag($formParams) ?>>
<div id="content-cta">
    <a href="<?php echo $this->getRoutePath('content_add', ['page_id' => $currentPageItem->getEntityId(), 'id' => $currentContentId]); ?>" class="button-previous"></a>
    <button class="button-save"></button>
    <div class="breadcrumb">
        <a href="<?php echo $this->getRoutePath('page_list'); ?>">pages</a>
        <a href="<?php echo $this->getRoutePath('pages_custom', ['id' => $currentPageItem->getEntityId()]); ?>"><?php echo $currentPageItem->getName(); ?></a>
        <a href="<?php echo $this->getRoutePath('content_add', ['page_id' => $currentPageItem->getEntityId(), 'id' => $currentContentId]); ?>">content selector</a>
    </div>
    <div class="breadcrumb">
        <div class="forward">
            <span></span>
            <a href="<?php echo $frontendUrl; ?>" target="blank">View page</a>
        </div>
    </div>
</div>

<div id="content-form">
    <div class="grid">
        <div class="col">
            <div class="content-group">
                <div class="content-title">
                    <h3>content</h3>
                </div>
                <div class="content-element">
                    <div class="content-title-no-toggle">
                        <p>display title</p>
                        <div class="switch-container">
                            <input type="checkbox" name="display_title" class="switch" value="1" <?php echo $form->getValue('display_title'); ?>>
                            <label for="switch">Toggle</label>
                        </div>
                    </div>
                </div>
                <div class="content-element">
                    <div class="content-title">
                        <p>title</p>
                    </div>
                    <div class="content-param">
                        <input type="text" name="title" placeholder="title" <?php echo $form->getValue('title', false); ?>>
                    </div>
                </div>
                <div class="content-element">
                    <div class="content-title">
                        <p>text</p>
                    </div>
                    <div class="content-param">
                        <div id="textarea_content" style="display: none;">
                            <?php echo html_entity_decode($form->getFieldValue('content')); ?>
                        </div>
                        <textarea name="content" id="content" cols="30" rows="10"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="content-group">
                <div class="content-title">
                    <h3>style</h3>
                </div>
                <div class="content-element">
                    <div class="content-title">
                        <p>color</p>
                    </div>
                    <div class="content-param">
                        <div class="color-preview">
                            <input name="color" type="text" placeholder="color" <?php echo $form->getValue('color'); ?>>
                            <div style="background: <?php echo $form->getFieldValue('color'); ?>"></div>
                        </div>
                    </div>
                </div>
                <div class="content-element">
                    <div class="content-title">
                        <p>background color</p>
                    </div>
                    <div class="content-param">
                        <div class="color-preview">
                            <input name="background_color" type="text" placeholder="color" <?php echo $form->getValue('background_color'); ?>>
                            <div style="background: <?php echo $form->getFieldValue('background_color'); ?>"></div>
                        </div>
                    </div>
                </div>
                <div class="content-element">
                    <div class="content-title">
                        <p>font size</p>
                    </div>
                    <div class="content-param">
                        <input name="font_size" type="number" placeholder="14" <?php echo $form->getValue('font_size'); ?>>
                    </div>
                </div>
                <div class="content-element">
                    <div id="select_alignment" class="elexyr-select">
                        <div class="select-title">
                            <p>alignment</p>
                        </div>
                        <div class="select-items">
                            <span class="select-item"></span>
                        </div>
                        <select name="text_align">
                            <option value="left" <?php echo $form->getValue('text_align', 'left'); ?>>left</option>
                            <option value="center" <?php echo $form->getValue('text_align', 'center'); ?>>center</option>
                            <option value="right" <?php echo $form->getValue('text_align', 'right'); ?>>right</option>
                        </select>
                    </div>
                </div>
                <div class="content-element">
                    <div class="content-title">
                        <p>padding</p>
                    </div>
                    <div class="content-param">
                        <input name="padding" type="text" placeholder="padding" <?php echo $form->getValue('padding'); ?>>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

<script>
    jQuery(document).ready(function () {
        Input.elexyrSelect('#select_alignment');
        Input.toggleContent('.content-group .content-title', '.content-param', '.content-element');
        Input.triggerSave('#content-cta .button-save');
        Input.colorPreview('.color-preview');

        var textarea = jQuery('#textarea_content').html();
        CKEDITOR.replace('content', {
            extraAllowedContent: 'style;*[id,rel](*){*}',
            on: {
                instanceReady: function() {
                    // this is current editor instance
                    this.insertHtml( textarea );
                }
            }
        });
    })
</script>