@import "../zion/z-mixins";
@include fontFace('SF-thin','../../fonts/SF/SF-regular', ttf);

body{
  font-family: SF-thin, Georgia, serif;
  background: linear-gradient(145deg, #16a085, #1abc9c, #2ecc71, #27ae60, #2980b9, #3498db);
  background-size: 1200% 1200%;
  animation: backgroundgradient 150s ease infinite;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  .content{
    text-align: center;
    h1{
      font-size: 50px;
      color: white;
    }
    h3{
      color: #34495e;
    }
  }
}

@keyframes backgroundgradient {
  0%{background-position:14% 0%}
  50%{background-position:87% 100%}
  100%{background-position:14% 0%}
}