/* VARIABLES */
$elexyr-green: #2ecc71;
$elexyr-blue: #3498db;
$elexyr-red: #e74c3c;
$elexyr-yellow: #f1c40f;
$elexyr-grey: #E1EAE8;
$elexyr-orange: #e67e22;

/* ------------------
   BUTTONS
*/

.button-paint{
  @extend .button-default;
  background: url(../img/buttons/button-brush.svg) no-repeat center center;
}

.button-download{
  @extend .button-default;
  background: url(../img/buttons/button-download.svg) no-repeat center center;
  &:hover{
    background-color: #3498db!important;
    background: url(../img/buttons/button-download-active.svg) no-repeat center center;
  }
}

span.button-duplicate{
  @extend .button-default;
  background: url(../img/buttons/button-duplicate.svg) no-repeat center center;
}

.button-delete{
  @extend .button-default;
  background: url(../img/buttons/button-delete.svg) no-repeat center center;
}

.button-section{
  @extend .button-default;
  background: url(../img/buttons/button-section.svg) no-repeat center center;
}

span.button-visible{
  @extend .button-default;
  background: url(../img/buttons/button-visible.svg) no-repeat center center;
}

.button-home{
  @extend .button-default;
  background: url(../img/buttons/button-home.svg) no-repeat center center;
}

.button-home-blue{
  @extend .button-default;
  background: url(../img/buttons/button-home-blue.svg) no-repeat center center;
}

.button-previous{
  @extend .button-default;
  background: url(../img/buttons/button-previous.svg) no-repeat center center;
  background-size: 27%!important;
  background-position-x: 46%;
}

span.button-not-visible{
  @extend .button-default;
  background: url(../img/buttons/button-not-visible.svg) no-repeat center center;
}

.button-add{
  @extend .button-default;
  background: url(../img/buttons/button-add.svg) no-repeat center center;
}
.button-add-img{
  @extend .button-default;
  background: url(../img/buttons/button-add-img.svg) no-repeat center center;
}
.button-add-icon{
  @extend .button-default;
  background: url(../img/buttons/button-add-icon.svg) no-repeat center center;
}
.button-add-video{
  @extend .button-default;
  background: url(../img/buttons/button-add-video.svg) no-repeat center center;
}
.button-add-pdf{
  @extend .button-default;
  background: url(../img/buttons/button-add-pdf.svg) no-repeat center center;
}

.button-filter-img{
  @extend .button-default;
  background: url(../img/buttons/button-filter-img.svg) no-repeat center center;
}
.button-filter-icon{
  @extend .button-default;
  background: url(../img/buttons/button-filter-icon.svg) no-repeat center center;
}
.button-filter-video{
  @extend .button-default;
  background: url(../img/buttons/button-filter-video.svg) no-repeat center center;
}

.button-filter-pdf{
  @extend .button-default;
  background: url(../img/buttons/button-filter-pdf.svg) no-repeat center center;
}

.button-search-pdf{
  height: 40px;
  width: 40px;
  background: url(../img/buttons/button-search-pdf.svg) no-repeat center center;
  background-size: 50%;
}
.button-search-img{
  height: 40px;
  width: 40px;
  background: url(../img/buttons/button-search-img.svg) no-repeat center center;
  background-size: 50%;
}
.button-search-icon{
  height: 40px;
  width: 40px;
  background: url(../img/buttons/button-search-icon.svg) no-repeat center center;
  background-size: 50%;
}
.button-search-video{
  height: 40px;
  width: 40px;
  background: url(../img/buttons/button-search-video.svg) no-repeat center center;
  background-size: 50%;
}

button.button-save{
  @extend .button-default;
  background: url(../img/buttons/button-save.svg) no-repeat center center;
}

span.button-is-default{
  @extend .button-default;
  background: url(../img/buttons/button-is-default.svg) no-repeat center center;
}

span.checkbox-checked{
  @extend .button-default;
  background: url(../img/buttons/checkbox-checked.svg) no-repeat center center;
}

span.button-elexyr{
  @extend .button-default;
  background: url(../img/buttons/button-elexyr.svg) no-repeat center center;
}

span.checkbox-unchecked{
  @extend .button-default;
  background: url(../img/buttons/checkbox-unchecked.svg) no-repeat center center;
}

.logout{
  @extend .button-default;
  background: url("../img/picto/exit.svg") no-repeat center center;
}

.button-default{
  display: inline-block;
  height: 45px;
  width: 45px;
  background-color: white;
  border-radius: 50%;
  margin: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  background-size: 50%;
  &:hover{
    background-color: #ecf0f1;
    background-size: 50%;
  }
}

.logout{
  height: 35px;
  width: 35px;
  margin-right: 5px;
}

.layout-1{
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 auto;
  background: url("../img/picto/layout-1.svg") no-repeat center center;
}

.video-preview{
  height: 40px;
  width: 40px;
  background: url("../img/media/video-icon.svg") no-repeat center center;
  background-size: 50%;
  background-color: $elexyr-blue;
  border-radius: 50%;
}

.pdf-preview{
  height: 40px;
  width: 40px;
  background: url("../img/media/pdf-icon.svg") no-repeat center center;
  background-size: 40%;
  background-color: $elexyr-red;
  border-radius: 50%;
}

/* ------------------
   BREADCRUMB
*/

.breadcrumb{
  @extend .button-default;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: auto;
  padding: 0 20px;
  font-weight: bold;
  text-transform: lowercase;
  display: inline-flex;
  &.pagination{
    a:hover{
      color: $elexyr-blue;
    }
  }
  &:hover{
    background-color: white;
  }
  a{
    text-decoration: none;
    color: #95989a;
    transition: color 0.5s;
    &:not(:last-child):after{
      content: ">";
      padding: 0 5px;
      color: #95989a;
    }
    &:hover{
      color: #2ECC71;
      transition: color 0.5s;
    }
  }
}
.home{
  .breadcrumb{
    p{
      text-transform: none;
    }
  }
}

.forward{
  > span{
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url("../img/picto/forward-arrow.svg") no-repeat center;
    margin-right: 5px;
    transition: background 0.5s!important;
  }
  > a{
    color: $elexyr-blue;
    transition: color 0.5s!important;
  }
  &:hover{
    span {
      background: url("../img/picto/forward-arrow-hover.svg") no-repeat center;
      transition: background 0.5s!important;
    }
    a{
      color: #9b59b6!important;
      transition: color 0.5s!important;
    }
  }
}

/* ------------------
   TOGGLE SWITCH
*/

.switch-container{
  position: relative;
  display: inline-block;
  input.switch[type=checkbox]{
    position: absolute;
    z-index: 1;
    width: 100%;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    & + label {
      cursor: pointer;
      text-indent: -9999px;
      width: 50px;
      height: 26px;
      background: grey;
      display: block;
      border-radius: 25px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 18px;
        transition: 0.3s;
      }
    }
    &:checked + label {
      background: #2ecc71;
    }
    &:checked + label:after {
      left: calc(100% - 3px);
      transform: translateX(-100%);
    }
  }
}

.switch-container-orientation{
  @extend .switch-container;
  input.switch[type=checkbox]{
    & + label{
      background: #3498db;
    }
    &:checked + label {
      background: #f1c40f;
    }
  }
}

/* ------------------
   MODAL
*/

.modal{
  display: none;
  background: #ecf0f1;
  padding: 3em;
  position: fixed;
  box-shadow: 0 0 10px -2px rgba(0,0,0,0.2);
  top: 50%;
  left: 50%;
  outline:0;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 11;
  transform: translateX(-50%) translateY(-50%);
  p{
    text-align: center;
  }
  .modal-cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    a{text-decoration: none;}
    .modal-delete{
      padding: 0.5em 1em;
      color: #e74c3c;
      border: 2px solid #e74c3c;
      cursor: pointer;
      transition: all 0.5s;
      font-size: 15px;
      font-weight: 100;
      background: transparent;
      &:hover{
        background: $elexyr-red;
        color: white;
        transition: all 0.5s;
      }
    }
    .modal-accept{
      padding: 0.5em 1em;
      color: $elexyr-green;
      border: 2px solid $elexyr-green;
      cursor: pointer;
      transition: all 0.5s;
      &:hover{
        background: $elexyr-green;
        color: white;
        transition: all 0.5s;
      }
    }
    .modal-warning{
      padding: 0.5em 1em;
      color: #e67e22;
      border: 2px solid #e67e22;
      cursor: pointer;
      transition: all 0.5s;
      &:hover{
        background: #e67e22;
        color: white;
        transition: all 0.5s;
      }
    }
    .modal-cancel{
      padding: 0.5em 1em;
      color: #bdc3c7;
      border: 2px solid #bdc3c7;
      cursor: pointer;
      transition: all 0.5s;
      &:hover{
        background: #bdc3c7;
        color: white;
        transition: all 0.5s;
      }
    }
  }
}
.modal-overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  &.show {
    opacity: 1;
    visibility: visible;
  }
  &.overlay-delete{
    background: rgba(#e74c3c, 0.8);
  }
  &.overlay-confirm{
    background: rgba(#2ecc71, 0.8);
  }
  &.overlay-warning{
    background: rgba(#e67e22, 0.8);
  }
}

/* ------------------
   MEDIA PREVIEW
*/

.pdf-media{
  width: 100%;
  height: 168px;
  border: white 4px solid;
  background: url(../img/media/pdf-icon.svg) no-repeat center center;
  background-color: $elexyr-red;
  background-size: 35%;
  display: block;
  p{
    color: white;
    text-align: center;
    font-size: 11px;
    margin-top: 80%;
  }
}

.video-media{
  width: 100%;
  height: 168px;
  border: white 4px solid;
  background: url(../img/media/video-icon.svg) no-repeat center center;
  background-color: $elexyr-blue;
  background-size: 35%;
  display: block;
  p{
    color: white;
    text-align: center;
    font-size: 11px;
    margin-top: 80%;
  }
}

/* ------------------
   HELPERS
*/
.no-decoration{
  text-decoration: none;
  color: #95989a;
}
.cta-color{
  color: $elexyr-green;
}
.no-link{
  cursor: default;
}
.blue{
  color: $elexyr-blue!important;
}
.red{
  color: $elexyr-red!important;
}
.orange{
  color: $elexyr-orange!important;
}
.img-circle{
  border-radius: 50%;
  object-fit: cover;
}

.elexyr-select{
  .select-title{
    background-color: #fff;
    padding: 1em;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &:after{
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 7px 0 7px;
      border-color: #2ecc71 transparent transparent transparent;
    }
    &.active:after{
      content: '';
      width: 0;
      height: 0;
      border-width: 0 7px 10px 7px;
      border-color: transparent transparent #2ecc71 transparent;
    }
  }
  .select-items{
    display: none;

    .select-item{
      background-color: #fff;
      padding: 1em;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      &:hover{
        background: #2ecc71;
        color: white;
      }
      &.active{
        background: #2ecc71;
        color: white;
        &:after{
          content: url(../img/icon/icon-true.svg);
          width: 20px;
        }
      }
    }
  }
  select{
    display: none;
  }
}

/**
 * COLOR PREVIEW
 */
.color-preview{
  display: flex;
  > div{
    flex:1;
    margin-left: 5px;
  }
}

/**
 * FORM ERRORS
 */
.form-errors{
  color: #d8000c;
  background-color: #ffbaba;
  padding: 0.5em;
  display: flex;
  align-items: center;
  > div{
    display: inline-block;
    padding: 0 10px;
  }
  &:before{
    content: '';
    width: 30px;
    height:30px;
    background: url("../img/buttons/button-warning.svg");
    display: inline-block;
    margin: 0 10px;
  }
}