[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
}

#builder {
  #content-cta{
    form{
      display: block!important;
    }
  }
  .page-block{
    list-style-type: none;
    .page-item{
      background: white;
      padding: 1em;
    }
  }
  .page-section{
    background: white;
    padding: 1em;
    .page-section-title{
      display: flex;
      align-items: center;
      justify-content: center;
      h2{
        color: $elexyr-green;
        font-weight: bold;
      }
    }
    .page-section-number{
      padding: 20px 0;
      > div {
        display: flex;
        justify-content: space-around;
        > span {
          align-items: center;
          display: inline-flex;
          justify-content: center;
          box-shadow: 1px 1px 5px -2px #333;
          font-weight: bold;
          &:hover {
            background: $elexyr-green;
            color: white;
          }
          &.active{
            background: $elexyr-green;
            color:white;
          }
        }
      }
    }
    .page-section-save{
      text-align: center;
      button{
        box-shadow: 1px 1px 5px -2px #333;
      }
    }
  }
  .page-builder{
    background: white;
    padding: 1em;
    text-align: center;
    .header, .footer{
      color: $elexyr-green;
      font-weight: bold;
      font-size: 25px;
    }
    .builder-section{
      margin: 5px 0;
      .builder-section-group{
        .builder-section-items{
          height: 100%;
          .builder-section-item{
            height: 100%;
            background: #e1eae8;
            margin: 2px;
            .button-add{
              height: 40px;
              width: 40px;
            }
          }
        }
        .builder-section-number{
          display: none!important;
          background: $elexyr-green;
          height: 100%;
          &.active{
            display: flex!important;
          }
        }
      }
      .builder-section-params{
        [class^="button"]{
          box-shadow: 1px 1px 5px -2px #333;
        }
      }
    }
  }
}

#content-box{
  .content-item{
    box-shadow: 0 0 8px 0 rgba(149,152,154,.4);
    padding: .5em;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    .content-title{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h3{
        color: $elexyr-green;
        font-size: 18px;
        font-weight: bold;
        padding: 45px 0 5px 0;
      }
    }
    span.button-add, span.button-paint{
      box-shadow: 1px 1px 5px -2px #333;
      width: 35px;
      height:35px;
    }
  }
}

#content-form{
  .content-group{
    > .content-title{
      background-color: #fff;
      padding: 1em;
      border-bottom: 4px solid #2ecc71;
      h3{
        font-weight: 700;
        color: #2ecc71;
      }
    }
    > .content-element{
      > div[class^=content-title]{
        background-color: #fff;
        margin: 10px 0;
        padding: 1em;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
      > div[class$="-no-toggle"]{
        padding: 12px 1em;
      }
      > .content-title {
        &:after{
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 7px 0 7px;
          border-color: #2ecc71 transparent transparent transparent;
        }
        &.active:after{
          content: '';
          width: 0;
          height: 0;
          border-width: 0 7px 10px 7px;
          border-color: transparent transparent #2ecc71 transparent;
        }
      }
      > .content-param{
        display: none;
        input:not([type=checkbox]){
          padding: 1.5em 1em;
          border: none;
          flex: 2;
          background-size: 25px;
          background-color: #fff;
        }
      }
      .select-title{
        margin-top: 10px;
      }
    }
  }
  #select-roles{
    span.cta-color{
      width: 70%;
      text-align: right;
    }
  }
}