.contentBlog{
  padding: 3em;
  > div{
    max-width: 1100px;
    margin: auto;
    > h1{
      font-size: 20px;
      text-align: center;
    }
    .description{
      padding: 2em 0;
    }
    .article-box{
      background-color: #F7F9F9;
      box-shadow: 0 0 3px rgba(0,0,0,.3);
      img{
        height: 200px;
        object-fit: cover;
      }
      > div{
        padding: 1em;
        text-align: center;
        h3{
          text-align: center;
          font-weight: bold;
          font-size: 25px;
        }
        a{
          border: 2px solid;
          margin-top: 1em;
          padding: 0.5em;
          display: inline-block;
          text-decoration: none;
          color: #2ecc71;
        }
      }
    }
  }
}