#ContentImgText{
  height: 100%;
  display: flex;
  &.left{
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  &.right{
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }
  &.top{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &.bottom{
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}