#ContentBanner{
  display: flex;
  justify-content: center;
  align-items:center;
  position: relative;
  > .overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  > .content{
    z-index: 2;
  }
}