#ContentHeaderFullHeight{
  min-height: 100vh;
  display: flex;
  align-items:center;
  position: relative;
  background-size: cover;
  justify-content: center;
  > nav{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 3;
    justify-content: space-around;
    align-items: center;
    .navigation{
      display: flex;
      align-items: center;
      > a{
        img{
          width: 18px;
          vertical-align: middle;
          margin: 0 5Px;
        }
        span{
          vertical-align: bottom;
        }
      }
      .logo{
        padding: 0 10px;
      }
    }
  }
  > .overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  > .content{
    z-index: 2;
  }
}
.sidebar-responsive-button{
  display: none;
  a {
    text-decoration: none;
    color: white;
  }
}
.vertical-navigation{
  display: flex;
  flex-direction: row;
  nav{
    display: flex;
    flex-direction: column!important;
    height: 100%;
    .logo {
      text-align: center;
    }
    .navigation {
      display: flex;
      flex-direction: column;
      a {
        text-align: center;
        img {
          width: 18px;
        }
      }
    }
  }
  #ContentHeaderFullHeight{
    width: 100%;
  }
}

@media screen and (max-width: 48em){
  .sidebar-responsive-button{display: block;}
  .vertical-navigation{
    flex-direction: column;
    nav{
      .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .navigation-container {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 48em){
  header > #ContentHeaderFullHeight{
    nav {
      flex-direction: column!important;
      .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &.responsive-center{
          display: flex!important;
          + .navigation-container {
            .logo {
              display: none!important;
            }
          }
        }
      }
    }
    .navigation-container{
      display: none;
      .navigation{
        flex-direction: column;
      }
    }
  }
}