<?php if (!empty($formErrors)): ?>
    <div class="form-errors">
        <div>
            <?php foreach ($formErrors as $error): ?>
                <p><?php echo $error; ?></p>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<form <?php echo $updateForm->initFormTag(['id' => $currentNavigationId]) ?>>
    <div id="content-cta">
        <a href="<?php echo $this->getRoutePath( 'navigation_edit', ['id' => $currentNavigationId] ); ?>"><span class="button-previous"></span></a>
        <button class="button-save"></button>
        <input type="submit">
        <a href="<?php echo $this->getRoutePath( 'navigation_edit', ['id' => $currentNavigationId] ); ?>"><span class="button-elexyr active"></span></a>
        <div class="breadcrumb">
            <a href="<?php echo $this->getRoutePath( 'navigation_edit', ['id' => $currentNavigationId] ); ?>"><?php echo $currentNavigationName; ?></a>
        </div>
    </div>

    <div class="navigation-custom-box">
        <div class="navigation-custom-items">
            <div class="grid">
                <div class="col">
                    <div class="navigation-group">
                        <div class="navigation-group-title">
                            <h3>style</h3>
                        </div>
                        <div class="navigation-group-element">
                            <div class="navigation-group-element-title">
                                <p>background color</p>
                            </div>
                            <div class="navigation-group-element-param">
                                <div class="color-preview">
                                    <input name="background_color" type="text" <?php echo $updateForm->getValue('background_color');?>>
                                    <div style="background: <?php echo $updateForm->getFieldValue('background_color');?>"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="navigation-group-element">
                            <div class="navigation-group-element-title">
                                <p>item padding</p>
                            </div>
                            <div class="navigation-group-element-param">
                                <input type="text" name="item_padding" <?php echo $updateForm->getValue('item_padding');?>>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="navigation-group-element">
                            <div class="navigation-group-element-title-no-toggle">
                                <p>text decoration</p>
                                <div class="switch-container">
                                    <input name="text_decoration" type="checkbox" class="switch" value="1" <?php echo $updateForm->getValue('text_decoration')?>><label for="switch">Toggle</label>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="navigation-group">
                        <div class="navigation-group-title">
                            <h3>display</h3>
                        </div>
                        <div class="navigation-group-element m-t-10">
                            <div id="select_alignment" class="elexyr-select">
                                <div class="select-title">
                                    <p>position</p>
                                </div>
                                <div class="select-items">
                                    <span class="select-item"></span>
                                </div>
                                <select name="position">
                                    <option value="row-reverse" <?php echo $updateForm->getValue('position', 'row-reverse'); ?>>left</option>
                                    <option value="center" <?php echo $updateForm->getValue('position', 'center'); ?>>center</option>
                                    <option value="row" <?php echo $updateForm->getValue('position', 'row'); ?>>right</option>
                                </select>
                            </div>
                        </div>
                        <div class="navigation-group-element">
                            <div class="navigation-group-element-title-no-toggle" style="display: none;">
                                <p>horizontal</p>
                                <div class="switch-container-orientation" >
                                    <input name="orientation" type="checkbox" class="switch" value="1" <?php echo $updateForm->getValue('orientation');?> ><label for="switch">Toggle</label>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<script>
    jQuery(document).ready(function () {
        Input.elexyrSelect('#select_alignment');
        Checkbox.toggleTextOnSwitchButton('.switch-container-orientation','vertical');
        Input.toggleContent('.navigation-group-element-title','.navigation-group-element-param','.navigation-group-element');
        Input.triggerSave('#content-cta .button-save');
        Input.colorPreview('.color-preview');
    })
</script>
