<?php if (!empty($formErrors)): ?>
    <div class="form-errors">
        <div>
            <?php foreach ($formErrors as $error): ?>
                <p><?php echo $error; ?></p>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<div id="content-cta">
    <a href="<?php echo $this->getRoutePath('navigation'); ?>"><span class="button-previous"></span></a>
    <span class="button-add"></span>
    <button class="button-save" style="display: none;"></button>

    <form <?php echo $creationForm->initFormTag([ 'id' => $currentNavigationId ]) ?>>
        <input type="text" class="input-text" name="title" placeholder="Add a navigation item" <?php echo $creationForm->getValue('title') ?> >
        <input type="submit" class="input-submit" name="cta-submit">
    </form>

    <a href="<?php echo $this->getRoutePath('navigation_custom', ["id" => $currentNavigationId ]); ?>"><span class="button-elexyr"></span></a>
    <div class="breadcrumb">
        <a href="<?php echo $this->getRoutePath('navigation'); ?>"><?php echo $currentNavigationName; ?></a>
    </div>
</div>

<div class="navigation-box">
    <?php foreach ($navigationItemCollection as $navigationItem): ?>
        <?php /** @var \app\Core\Form $itemUpdateForm */ ?>
        <?php $itemUpdateForm = $updateFormsCollection[$navigationItem->getEntityId()] ?>

        <form <?php echo $itemUpdateForm->initFormTag([ 'id' => $currentNavigationId ]) ?>>
            <input type="hidden" name="updateItemId" value="<?php echo $navigationItem->getEntityId() ?>">

            <div class="grid">
                <div class="col-8">
                    <a href="<?php echo $this->getRoutePath( 'navigation_item_custom', [ "id" => $currentNavigationId, "navigation_item_id" => $navigationItem->getEntityId()] )?>"">
                        <div class="navigation-item">
                            <h3><?php echo $navigationItem->getTitle(); ?></h3>
                        </div>
                    </a>
                </div>
                <div class="col navigation-main-cta v-align-center">
                    <input type="submit" style="display: none;">
                    <a href="#"><button class="button-save"></button></a>
                    <a href="#"><span class="button-paint"></span></a>
                    <a href="<?php echo $this->getRoutePath( 'navigation_item_custom', [ "id" => $currentNavigationId, "navigation_item_id" => $navigationItem->getEntityId()] )?>"><span class="button-elexyr"></span></a>
                    <a data-href="<?php echo $this->getRoutePath( 'navigation_item_delete', ["id" => $navigationItem->getEntityId()] ) ?>"><span class="button-delete"></span></a>
                </div>
            </div>
            <div class="navigation-custom">
                <div class="grid">
                    <div class="col-8">
                        <div class="navigation-fields">
                            <div class="grid-right">
                                <div class="col-2">
                                    <p>Icon</p>
                                </div>
                                <div class="col-9">
                                    <span class="button-add"></span>
                                    <input type="file" class="input-img" name="icon" style="display: none;">
                                    <?php if (!empty($navigationItem->getIcon())): ?>
                                        <img class="previewInput" src="<?php echo $navigationItem->getMediaPath('icon') ?>" alt="" width="100">
                                    <?php else: ?>
                                        <img class="previewInput" src="<?php echo $this->getImgSrc('dev/imgpreview.png') ?>" alt="" width="100">
                                    <?php endif; ?>
                                </div>
                            </div>
                            <div class="grid-right">
                                <div class="col-2">
                                    Title
                                </div>
                                <div class="col-9">
                                    <input type="text" name="title" <?php echo $itemUpdateForm->getValue('title') ?>>
                                </div>
                            </div>
                            <div class="grid-right">
                                <div class="col-2">
                                    Url
                                </div>
                                <div class="col-9">
                                    <input type="text" name="link_target" <?php echo $itemUpdateForm->getValue('link_target') ?>>
                                </div>
                            </div>
                            <div class="grid-right">
                                <div class="col-2">
                                    Position
                                </div>
                                <div class="col-9">
                                    <?php // TODO : manage this dynamically ?>
                                    <span class="button-default <?php if ($itemUpdateForm->getFieldValue('position') == 1): ?>active<?php endif; ?>" data-value="1">1</span>
                                    <span class="button-default <?php if ($itemUpdateForm->getFieldValue('position') == 2): ?>active<?php endif; ?>" data-value="2">2</span>
                                    <span class="button-default <?php if ($itemUpdateForm->getFieldValue('position') == 3): ?>active<?php endif; ?>" data-value="3">3</span>
                                    <span class="button-default <?php if ($itemUpdateForm->getFieldValue('position') == 4): ?>active<?php endif; ?>" data-value="4">4</span>
                                    <span class="button-default <?php if ($itemUpdateForm->getFieldValue('position') == 5): ?>active<?php endif; ?>" data-value="5">5</span>
                                    <span class="button-default <?php if ($itemUpdateForm->getFieldValue('position') == 6): ?>active<?php endif; ?>" data-value="6">6</span>
                                    <span class="button-default <?php if ($itemUpdateForm->getFieldValue('position') == 7): ?>active<?php endif; ?>" data-value="7">7</span>
                                    <span class="button-default <?php if ($itemUpdateForm->getFieldValue('position') == 8): ?>active<?php endif; ?>" data-value="8">8</span>
                                    <span class="button-default <?php if ($itemUpdateForm->getFieldValue('position') == 9): ?>active<?php endif; ?>" data-value="9">9</span>
                                    <span class="button-default <?php if ($itemUpdateForm->getFieldValue('position') == 10): ?>active<?php endif; ?>" data-value="10">10</span>
                                    <input type="number" class="input-position" name="position" <?php echo $itemUpdateForm->getValue('position') ?> style="display: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    <?php endforeach; ?>
</div>

<div class="modal">
    <h2 class="txtCenter">WARNING</h2>
    <br>
    <p>Delete this navigation ?</p>
    <div class="modal-cta">
        <span class="modal-cancel">cancel</span>
        <a href=""><span class="modal-delete">delete</span></a>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        Modal.deleteModal(".button-delete",".modal");
        Modal.sendHrefToModal('.navigation-main-cta .button-delete','.modal .modal-delete');
        Input.toggleContent('.button-paint','.navigation-custom','form', true);
        Checkbox.imgInput('.navigation-custom .button-add','.navigation-custom .previewInput');
        Input.navigationPositionButtons('.button-default');
    })
</script>


