<div id="content-cta">
    <div class="breadcrumb cta-color">
        <p><?php echo $numberPlugin ?> plugin<?php if ($numberPlugin > 1): ?>s<?php endif; ?> already installed !</p>
    </div>
</div>

<div id="content-box">
    <div class="grid-4">
        <?php foreach ($allPlugins as $pluginCode => $plugin): ?>
            <div class="col">
                <div class="content-item">
                    <div class="content-title">
                        <h3><?php if (isset($plugin['name'])) { echo $plugin['name']; }?></h3>
                        <img width="<?php if (isset($plugin['icon_width'])) { echo $plugin['icon_width']; } ?>" src="<?php if (isset($plugin['icon']) && isset($plugin['icon_bundle'])) { echo $this->getImgSrc($plugin['icon'], $plugin['icon_bundle']); } ?>"  alt="">
                    </div>
                    <div>
                        <a href="<?php if (isset($plugin['route_plugin_edit'])) { echo $this->getRoutePath($plugin['route_plugin_edit'], [], $pluginCode); } ?>">
                            <span class="button-paint"></span>
                        </a>
                    </div>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
</div>