<?php if (!empty($formErrors)): ?>
    <div class="form-errors">
        <div>
            <?php foreach ($formErrors as $error): ?>
                <p><?php echo $error; ?></p>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<form <?php echo $form->initFormTag($formParams) ?>>
    <div id="content-cta">
        <a href="<?php echo $this->getRoutePath('article_list'); ?>" class="button-previous"></a>
        <button class="button-save"></button>
        <div class="breadcrumb">
            <a href="<?php echo $this->getRoutePath('article_list'); ?>">blog</a>
        </div>
        <?php if (isset($frontendUrl)): ?>
            <div class="breadcrumb">
                <div class="forward">
                    <span></span>
                    <a href="<?php echo $frontendUrl; ?>" target="blank">View Article</a>
                </div>
            </div>
        <?php endif; ?>
    </div>

    <div id="content-form">
        <div class="grid">
            <div class="col">
                <div class="content-group">
                    <div class="content-title">
                        <h3>Article configuration</h3>
                    </div>
                    <div class="content-element">
                        <div class="content-title-no-toggle">
                            <p>Is visible</p>
                            <div class="switch-container">
                                <input type="checkbox" name="is_active" class="switch" value="1" <?php echo $form->getValue('is_active'); ?>>
                                <label for="switch">Toggle</label>
                            </div>
                        </div>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>Article name</p>
                        </div>
                        <div class="content-param">
                            <input type="text" name="name" placeholder="article name" <?php echo $form->getValue('name'); ?>>
                        </div>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>Url key</p>
                        </div>
                        <div class="content-param">
                            <input type="text" name="url_key" placeholder="my/wonderful/article" <?php echo $form->getValue('url_key'); ?>>
                        </div>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>Preview image</p>
                        </div>
                        <div class="content-param">
                            <input id="preview-image" name="preview_image" type="text" <?php echo $form->getValue('preview_image'); ?> style="display: none">
                            <div class="media-collection-preview">
                                <?php echo $this->useTemplate('media_image_collection', 'page') ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="content-group">
                    <div class="content-title">
                        <h3>Article content</h3>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>Article title</p>
                        </div>
                        <div class="content-param">
                            <input type="text" name="title" placeholder="article title" <?php echo $form->getValue('title'); ?>>
                        </div>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>Article subtitle</p>
                        </div>
                        <div class="content-param">
                            <input type="text" name="subtitle" placeholder="article subtitle" <?php echo $form->getValue('subtitle'); ?>>
                        </div>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>Article header image</p>
                        </div>
                        <div class="content-param">
                            <input id="intro-image" name="intro_image" type="text" <?php echo $form->getValue('intro_image'); ?> style="display: none">
                            <div class="media-collection-intro">
                                <?php $this->updateControllerParam('currentMediaImage',  $form->getFieldValue('intro_image')) ?>
                                <?php echo $this->useTemplate('media_image_collection', 'page') ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-group">
            <div class="content-title">
                <h3>Article content</h3>
            </div>
            <div class="content-element">
                <div id="textarea_content" style="display: none;">
                    <?php echo html_entity_decode($form->getFieldValue('content')); ?>
                </div>
                <textarea name="content" id="content" cols="10" rows="50"></textarea>
                <br>
            </div>
        </div>
    </div>
</form>

<script>
    jQuery(document).ready(function () {
        Input.triggerMediaInput('.media-collection-preview .media-img-value', '#preview-image');
        Input.triggerMediaInput('.media-collection-intro .media-img-value', '#intro-image');
        Input.toggleContent('.content-group .content-title', '.content-param', '.content-element');
        Input.triggerSave('#content-cta .button-save');

        var textarea = jQuery('#textarea_content').html();
        CKEDITOR.replace('content', {
            height: 500,
            extraAllowedContent: 'style;*[id,rel](*){*}',
            on: {
                instanceReady: function() {
                    // this is current editor instance
                    this.insertHtml( textarea );
                }
            }
    });
    })
</script>