<div id="content-cta">
    <div class="v-align-center">
        <a href="<?php echo $this->getRoutePath('plugin_list', [], 'plugin'); ?>" class="button-previous"></a>
        <div class="breadcrumb no-link">
            <p><a class="no-link blue">Blog</a></p>
        </div>
    </div>
    <a href="<?php echo $this->getRoutePath('article_add') ?>" class="no-decoration cta-color">
        <span class="button-add"></span>
        <div class="breadcrumb">
            <p>Write an article</p>
        </div>
    </a>

    <span class="checkbox-checked" style="display: none"></span>
    <span class="checkbox-unchecked"></span>

    <div id="mass-action" class="navigation-custom-box">
        <div class="navigation-custom-items">
            <div class="navigation-group-element">
                <div class="navigation-group-element-title breadcrumb yellow">
                    <p>Choose action ... </p>
                </div>
                <div class="navigation-group-element-param breadcrumb">
                    <p class="button-mass-delete">delete all</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <?php if ($previousPage != false): ?>
        <div class="breadcrumb pagination">
            <a href="<?php echo $this->getRoutePath('article_list_page', ['page_number' => $previousPage], 'blog') ?>">< Previous page</a>
        </div>
    <?php endif; ?>
    <?php if ($nextPage != false): ?>
        <div class="breadcrumb pagination">
            <a href="<?php echo $this->getRoutePath('article_list_page', ['page_number' => $nextPage], 'blog') ?>">Next page ></a>
        </div>
    <?php endif; ?>
</div>

<form action="<?php echo $this->getRoutePath('articles_mass_delete') ?>" method="post">
    <div class="page-box">
        <div class="grid-4_md-2_sm-1">
            <?php foreach ($articlesCollection as $article): ?>
                <div class="col">
                    <div class="page <?php if ($article->getIsActive() != 1): ?> not-visible <?php endif; ?>">
                        <div class="page-img">
                            <div class="page-checked">
                                <a href="<?php echo $this->getRoutePath('article_disable', ["article_id" => $article->getEntityId()]); ?>">
                                    <span class="button-visible" <?php if ($article->getIsActive() != 1): ?> style="display: none;" <?php endif; ?> ></span>
                                </a>
                                <a href="<?php echo $this->getRoutePath('article_enable', ["article_id" => $article->getEntityId()]); ?>">
                                    <span class="button-not-visible" <?php if ($article->getIsActive() != 0): ?> style="display: none;" <?php endif; ?> ></span>
                                </a>
                                <span class="checkbox-checked"></span>
                                <span class="checkbox-unchecked"></span>
                                <input class="checkbox-input" type="checkbox" name="<?php echo $articleMassActionPrefix . '-' . $article->getEntityId() ?>" style="display: none">
                            </div>
                            <?php if (!empty($article->getPreviewImage())): ?>
                                <?php $mediaImage = $mediaImageEntity->loadById($article->getPreviewImage()); ?>
                                <img src="<?php echo $mediaImage->getMediaPath('image') ?>" alt="<?php echo $article->getName() ?>">
                            <?php else: ?>
                                <img src="<?php echo $this->getImgSrc('dev/article-preview.jpg','app') ?>" alt="">
                            <?php endif; ?>
                        </div>
                        <div class="bottom-page">
                            <p><?php echo $article->getName(); ?></p>
                        </div>
                        <div class="page-custom">
                            <a href="<?php echo $this->getRoutePath('article_edit', ["article_id" => $article->getEntityId()]); ?>"><span class="button-paint"></span></a>
                            <a data-href="<?php echo $this->getRoutePath('article_delete', ["article_id" => $article->getEntityId()]); ?>" >
                                <span class="button-delete"></span>
                            </a>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
    </div>

    <div class="modal mass-delete">
        <h2 class="txtCenter">WARNING</h2>
        <br>
        <p>Are you sure you want to delete all selected items ?</p>
        <div class="modal-cta">
            <span class="modal-cancel">cancel</span>
            <input class="navigation-submit modal-delete" type="submit" value="delete">
        </div>
    </div>
</form>

<div class="modal">
    <h2 class="txtCenter">WARNING</h2>
    <br>
    <p>Do you really want to delete permanently this article ?</p>
    <div class="modal-cta">
        <span class="modal-cancel">cancel</span>
        <a href=""><span class="modal-delete">delete</span></a>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        Checkbox.visibleButton('.page-checked .button-visible','.page-checked .button-not-visible');
        Modal.deleteModal(".button-delete",".modal");
        Modal.deleteModal(".button-mass-delete",".modal.mass-delete");
        Modal.sendHrefToModal('.page-box .button-delete','.modal .modal-delete');
        Input.toggleContent('.navigation-group-element-title','.navigation-group-element-param','.navigation-group-element');
    })
</script>