@import "zion/z-mixins";
@include fontFace('SF-thin','../fonts/SF/SF-thin', ttf);

*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
}

body{
  font-family: SF-thin, Georgia, serif;
  position: relative;
  background: url("../img/global/background-login.jpg") fixed center;
  background-size: cover;
}

.form-errors{
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #d8000c;
  background-color: #ffbaba;
  padding: 10px;
  img{
    width: 25px;
    margin: auto;
    display: block;
  }
  p{
    margin: 0;
    padding: 10px;
  }
  .close{
    position: absolute;
    right:10px;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
      color: white;
      transition: 0.5s;
    }
  }
  div{
    text-align: center;
  }
}

.form-success{
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #E1EAE8;
  background-color: #2ECC71;
  padding: 10px;
  img{
    width: 25px;
    margin: auto;
    display: block;
  }
  p{
    margin: 0;
    padding: 10px;
  }
  .close{
    position: absolute;
    right:10px;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
      color: white;
      transition: 0.5s;
    }
  }
  div{
    text-align: center;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#login{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  img{
    padding: 2em 1em;
    max-width: 200px;
  }
  .login-box{
    text-align: center;
    padding: 30px;
    max-width: 400px;
    width: 100%;
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    form{
      margin-top: 1em;
    }
    input:not([type="submit"]){
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 1em;
      padding: 1em;
      box-sizing: border-box;
      font-size: 14px;
    }
    input[type="submit"]{
      margin: 2em 0 0 0;
      text-transform: uppercase;
      outline: 0;
      background: #2ecc71;
      width: 100%;
      border: 0.2em solid #2ecc71;
      padding: 1em;
      color: white;
      font-size: 14px;
      transition: all 0.3s ease;
      cursor: pointer;
      opacity: 0.9;
      &:hover{
        opacity: 1;
      }
    }
    .password{
      display: flex;
      justify-content: center;
      margin-top: 2em;
      align-items: center;
      a{
        text-decoration: none;
        color: #333333;
        margin: 0 10px;
      }
      span.lock-icon{
        width: 15px;
        height: 15px;
        display: inline-block;
        background: url("../img/picto/lock-black.svg") no-repeat center;
      }
      &:hover{
        span.lock-icon {
          background: url("../img/picto/lock-green.svg") no-repeat center;
          transition: background 1s;
        }
        a {
          color: #2ECC71;
          transition: color 1s;
        }
      }
    }
  }
}

.overlay-login{
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}
