@import "content";
@import "zion/z-mixins";

@include fontFace('SF-thin','../fonts/SF/SF-thin', ttf);

body{
  font-family: SF-thin, Georgia, serif;
  position: relative;
}

.debug-bar{
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left:0;
  width: 100%;
  z-index: 99;
  color: white;
  height: 34px;
  background: #23282d;
  a.user-info{
    display: flex;
    align-items: center;
    text-decoration: none;
    p{
      padding: 0 10px;
      font-size: 14px;
      color: white;
    }
    img{
      margin-right: 10px;
    }
  }
  .debug-cta{
    display: flex;
    align-items: center;
    > img {
      padding: 0 10px;
    }
    ul{
      height: 100%;
      display: flex;
      li {
        line-height: 34px;
        padding: 0 10px;
        a {
          text-decoration: none;
          color: white;
          font-size: 14px;
          display: block;
        }
        &:hover {
          background: #32373c;
          a {
            color: #2ECC71;
          }
        }
      }
    }
  }
}