
<form action="<?php echo $this->getRoutePath('media_mass_delete') ?>" method="post">
    <div id="content-cta">
        <a href="<?php echo $this->getRoutePath('media_list'); ?>"><span class="button-previous"></span></a>

        <span id="main-add-button" class="button-add"></span>
        <div id="add-buttons">
            <a href="<?php echo $this->getRoutePath('media_image_create'); ?>" class="button-add-img"></a>
            <a href="<?php echo $this->getRoutePath('media_pictogram_create'); ?>" class="button-add-icon"></a>
            <a href="<?php echo $this->getRoutePath('media_video_create'); ?>" class="button-add-video"></a>
            <a href="<?php echo $this->getRoutePath('media_pdf_create'); ?>" class="button-add-pdf"></a>
        </div>

        <span class="checkbox-checked" style="display: none"></span>
        <span class="checkbox-unchecked"></span>

        <div id="mass-action" class="navigation-custom-box">
            <div class="navigation-custom-items">
                <div class="navigation-group-element">
                    <div class="navigation-group-element-title breadcrumb yellow">
                        <p>Choose action ... </p>
                    </div>
                    <div class="navigation-group-element-param breadcrumb">
                        <p class="button-mass-delete">delete all</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <?php if ($previousPage != false): ?>
            <?php if (!isset($mediaType)): ?>
                <div class="breadcrumb pagination">
                    <a href="<?php echo $this->getRoutePath('media_list_page', ['page_number' => $previousPage], 'app') ?>">< Previous page</a>
                </div>
            <?php else: ?>
                <div class="breadcrumb pagination">
                    <a href="<?php echo $this->getRoutePath('media_list_type_page', ['type' => $mediaType, 'page_number' => $previousPage], 'app') ?>">< Previous page</a>
                </div>
            <?php endif; ?>
        <?php endif; ?>
        <?php if ($nextPage != false): ?>
            <?php if (!isset($mediaType)): ?>
                <div class="breadcrumb pagination">
                    <a href="<?php echo $this->getRoutePath('media_list_page', ['page_number' => $nextPage], 'app') ?>">Next page ></a>
                </div>
            <?php else: ?>
                <div class="breadcrumb pagination">
                    <a href="<?php echo $this->getRoutePath('media_list_type_page', ['type' => $mediaType, 'page_number' => $nextPage], 'app') ?>">Next page ></a>
                </div>
            <?php endif; ?>
        <?php endif; ?>

        <div id="filter-buttons">
            <a href="<?php echo $this->getRoutePath('media_list_type', ['type' => 'image'], 'app') ?>" class="button-filter-img"></a>
            <a href="<?php echo $this->getRoutePath('media_list_type', ['type' => 'pictogram'], 'app') ?>" class="button-filter-icon"></a>
            <a href="<?php echo $this->getRoutePath('media_list_type', ['type' => 'video'], 'app') ?>" class="button-filter-video"></a>
            <a href="<?php echo $this->getRoutePath('media_list_type', ['type' => 'pdf'], 'app') ?>" class="button-filter-pdf"></a>
        </div>
    </div>

    <div class="media-box">
        <div class="grid-6_md-4_sm-2">
            <?php foreach ($mediaCollection as $media): ?>

                <?php /** @var string $mediaEntityType */ ?>
                <?php $mediaEntityType = $mediaHelper->getMediaTypeByEntityIdentifier($media->getEntityIdentifier()); ?>
                <?php /** @var string $mediaType */ ?>
                <?php $mediaType = strtolower($mediaEntityType); ?>
                <?php /** @var string $mediaEditRoute */ ?>
                <?php $mediaEditRoute = $mediaHelper->getEditRouteCode($mediaType); ?>
                <?php /** @var string $mediaIdParamName */ ?>
                <?php $mediaIdParamName = $mediaType . '_id'; ?>

                <div class="col">
                    <div class="media">
                        <div class="media-img">
                            <div class="media-checked">
                                <span class="checkbox-checked"></span>
                                <span class="checkbox-unchecked"></span>
                                <input class="checkbox-input" type="checkbox" name="<?php echo $mediaType . '-' . $media->getEntityId() ?>" style="display: none">

                                <a href="<?php echo $media->getMediaPath($mediaEntityType) ?>" download="<?php echo $media->getLabel() ?>">
                                    <span class="button-download"></span>
                                </a>
                                <a data-href="<?php echo $this->getRoutePath('media_delete', ['id' => $media->getEntityId(), 'type' => $mediaType]); ?>" >
                                    <span class="button-delete"></span>
                                </a>
                            </div>
                        </div>
                        <a href="<?php echo $this->getRoutePath($mediaEditRoute, [$mediaIdParamName => $media->getEntityId()]) ?>" class="no-decoration">
                            <?php if ($mediaType == 'video'): ?>
                                <div class="video-media">
                                    <p><?php echo $media->getLabel() ?></p>
                                </div>
                            <?php elseif ($mediaType == 'pdf'): ?>
                                <div class="pdf-media">
                                    <p><?php echo $media->getLabel() ?></p>
                                </div>
                            <?php else: ?>
                                <img src="<?php echo $media->getMediaPath($mediaEntityType) ?>" alt="<?php echo $media->getAltText() ?>">
                            <?php endif; ?>
                        </a>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
    </div>

    <div class="modal mass-delete">
        <h2 class="txtCenter">WARNING</h2>
        <br>
        <p>Are you sure you want to delete all selected items ?</p>
        <div class="modal-cta">
            <span class="modal-cancel">cancel</span>
            <input class="navigation-submit modal-delete" type="submit" value="delete">
        </div>
    </div>
</form>


<div class="modal">
    <h2 class="txtCenter">WARNING</h2>
    <br>
    <p>Delete this media ?</p>
    <div class="modal-cta">
        <span class="modal-cancel">cancel</span>
        <a href=""><span class="modal-delete">delete</span></a>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        Checkbox.checkboxSelector('div#content-cta span.checkbox-unchecked','div#content-cta span.checkbox-checked','div.media-img span.checkbox-unchecked','div.media-img span.checkbox-checked','div.media-img input.checkbox-input');
        Checkbox.visibleButton('.media-checked .button-visible','.media-checked .button-not-visible');
        Modal.deleteModal(".button-delete",".modal");
        Modal.deleteModal(".button-mass-delete",".modal.mass-delete");
        Modal.sendHrefToModal('.media-box .button-delete','.modal .modal-delete');
        Toggle.toggleContent('#main-add-button', '#add-buttons');
        Input.toggleContent('.navigation-group-element-title','.navigation-group-element-param','.navigation-group-element');
    })
</script>