<div id="content-cta">
    <a href="<?php echo $this->getRoutePath('user_create'); ?>" class="button-add"></a>
    <a href="<?php echo $this->getRoutePath('user_create'); ?>" class="breadcrumb no-decoration cta-color">Add a new user</span></a>
    <?php if ($previousPage != false): ?>
        <div class="breadcrumb pagination">
            <a href="<?php echo $this->getRoutePath('user_list_page', ['page_number' => $previousPage], 'user') ?>">< Previous page</a>
        </div>
    <?php endif; ?>
    <?php if ($nextPage != false): ?>
        <div class="breadcrumb pagination">
            <a href="<?php echo $this->getRoutePath('user_list_page', ['page_number' => $nextPage], 'user') ?>">Next page ></a>
        </div>
    <?php endif; ?>
</div>

<div class="users-box">
    <div class="grid-4_md-2_sm-1">
        <?php foreach ($usersCollection as $user): ?>
            <div class="col">
                <div class="user-content">
                    <?php if ($currentUserId != $user->getEntityId() && $currentUserRole === 'superadmin'): ?>
                        <a data-href="<?php echo $this->getRoutePath('user_delete', ['user_id' => $user->getEntityId()], 'user') ?>">
                            <span class="button-delete"></span>
                        </a>
                        <img class="img-circle" src="<?php echo $userImageHelper->getUserMainImagePath($user->getEntityId()) ?>" alt="">
                    <?php else: ?>
                        <img class="img-circle no-button" src="<?php echo $userImageHelper->getUserMainImagePath($user->getEntityId()) ?>" alt="">
                    <?php endif; ?>
                    <h3><?php echo $user->getFirstname() ?> <?php echo $user->getLastname() ?></h3>
                    <div class="user-infos">
                        <p><a class="no-decoration" href="mailto:<?php echo $user->getEmail() ?>"><?php echo $user->getEmail() ?></a></p>
                        <p><?php echo $user->getPseudo() ?></p>
                        <p><?php echo $rolesHelper->getRoleLabel($user->getRole()) ?></p>
                    </div>
                    <a href="<?php echo $this->getRoutePath('user_edit', ['user_id' => $user->getEntityId()], 'user') ?>" class="button-paint"></a>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
</div>

<div class="modal">
    <h2 class="txtCenter">WARNING</h2>
    <br>
    <p>Delete this user ?</p>
    <div class="modal-cta">
        <span class="modal-cancel">cancel</span>
        <a href=""><span class="modal-delete">delete</span></a>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        Modal.deleteModal(".button-delete",".modal");
        Modal.sendHrefToModal('.user-content .button-delete','.modal .modal-delete')
    })
</script>