@import "elexyr/component";
@import "zion/z-mixins";
@import "zion/z-variables";
@import "elexyr/pages";

@include fontFace('SF-thin','../fonts/SF/SF-thin', ttf);

body{
  color: #555;
  font-family: SF-thin, Georgia, serif;
  background: white;
  min-height: 100vh;
}

*{ box-sizing: border-box; }
.clear{
  clear: both;
}

video{
  width: 100%;
}

#elexyr-sidebar{
  width: 250px;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  >div{
    position:fixed;
    width:inherit;
    height: 100%;
    overflow-y: auto;
  }
  #logo{
    width: 100%;
    text-align: left;
    padding: 45px 30px;
    img{
      max-width: 150px;
      width: 100%;
    }
    #sidebar-responsive-button{
      display: none;
    }
  }
  #sidebar-menu{
    display: block;
    li{
      height: 70px;
      padding-left: 30px;
      &:hover{
        background: rgba(225, 234, 232,0.5);
      }
      a{
        text-decoration: none;
        color: #95989A;
        font-weight: bold;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
      }
      span{
        padding-right: 10px;
        svg{
          width: 20px;
        }
      }
    }
    li.active{
      background: rgba(225, 234, 232,0.5);
      border-left: 5px solid #2ECC71;
      a{
        color: #2ECC71;
      }
      svg path{
        fill:#2ECC71!important;
      }
    }
  }
}

#elexyr-content{
  min-height: 100vh;
  background: #E1EAE8;
  padding: 40px 50px 0 50px;
  #content-cta{
    margin: 30px 0;
    display: flex;
    align-items: center;
    #filter-buttons {
      margin-left: auto;
    }
    #add-buttons {
      max-width: 220px;
      width: 0;
      display: flex;
      transition: all 1.5s;
    }
    #add-buttons.open {
      width: 100%;
      transition: all 2s;
    }
    form {
      max-width: 400px;
      width: 0;
      display: flex;
      transition: all 1s;
      > input{
        border: none;
        margin-right: 0px;
        width: 0px;
        opacity: 0;
        padding: 0;
        height: 40px;
        background-size: 25px;
        background-color: white;
        transition: all 1s;
        outline: none;
        &.open{
          width: 100%;
          margin: 0 10px;
          padding: 1em;
          opacity: 1;
          transition: all 1s;
        }
      }
    }
    form.open{
      width: 100%;
      transition: all 1s;
    }
    span{
      cursor: pointer;
    }
    input[type="submit"]{
      display: none;
    }

    >a{
      display: inherit;
    }
    .button-elexyr.active{
      background-color: #2ECC71;
    }
  }

  .page-box{
    .page{
      position: relative;
      background: white;
      .page-checked{
        display: flex;
        position: absolute;
        top: 5px;
        right: 5px;
      }
      .page-img .button-visible, .button-home{
        display: inline-block;
        height: 40px;
        width: 40px;
      }
      .page-img .button-not-visible{
        display: inline-block;
        height: 40px;
        width: 40px;
      }
      .page-checked .checkbox-checked{
        display: none;
        height: 40px;
        width: 40px;
      }
      .page-checked .checkbox-unchecked{
        display: inline-block;
        height: 40px;
        width: 40px;
      }
      img{
        width: 100%;
        display: block;
        height: 180px;
        object-fit: cover;
        user-select: none;
      }
      .bottom-page{
        text-align: center;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
          color: #2ECC71;
          font-weight: bold;
        }
      }
      .page-custom{
        display: none;
      }
    }
    .page:hover{
      .bottom-page{display: none}
      .page-custom{
        @extend .bottom-page;
        display: flex;
        background: #2ECC71;
        p{
          color: white;
        }
      }
    }
    .page.not-visible{
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }

  .users-box{
    margin-bottom: 50px;
    .user-content{
      box-shadow: 0 0 8px 0px rgba(149,152,154,0.4);
      padding: 0.5em;
      background: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      a{
        &:not(.button-paint){
          align-self: flex-end;
          .button-delete{
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
            background-size: 50%;
            width: 45px;
            height:45px;
          }
        }
      }
      .button-paint{
        box-shadow: 0 0 3px rgba(0,0,0,.2);
        margin: 10px 0;
      }
      h3:nth-child(n){
        color: #2ecc71;
        font-size: 23px;
        padding: 0.5em 0 1em 0;
        font-weight: bold;
      }
      img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
        &.no-button{
          margin-top: 55px;
        }
      }
      .user-infos{
        align-self: flex-start;
        padding-left: 20px;
        padding-bottom: 10px;
        p{padding: 0.5em;color: #95989A;}
      }
      .button-save{
        margin-top: 20px;
        width: 45px;
        height:45px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
      }
    }
    .col:nth-child(2n){
      h3{
        color:#3498DB;
      }
    }
  }

  .themes-box{
    @extend .users-box;
    .themes-content{
      @extend .user-content;
      padding: 0;
      img{
        border-radius: inherit;
        width: 100%;
        height: 320px;
        object-fit: cover;
      }
      .themes-infos{
        padding: 2em 1em;
        h3{padding: 0!important;}
        p{
          color: #95989A;
          font-size: 14px;
          padding: 5px;
        }
      }
      .themes-cta{
        display: flex;
        justify-content: center;
        padding-bottom: 1em;
        &>*{
          width: 35px;
          height: 35px;
          margin-top: 0;
        }
      }
    }
  }
  .settings-box{
    .settings-logo{
      span{
        margin: 0 10px;
      }
      .input-img{
        display: none;
      }
      .previewInput{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid #2ECC71;
        object-fit: cover;
      }
      .user-img{
        position: relative;
        img{
          height: 100px;
          width: 100px;
          margin-left: 5px;
        }
        .no-decoration {
          position: absolute;
          top: 0;
          right: -10px;
          span{
            border-radius: 50%;
            background: white;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            color: $elexyr-red;
            &:hover{
              color: white;
              background: $elexyr-red;
            }
          }
        }
      }
    }
    .settings-input{
      display: flex;
      flex-direction: column;
      max-width: 400px;
      align-items: center;
      input {
        padding: 1.5em 1em;
        border: none;
        width: 100%;
        background-size: 25px;
        background-color: #fff;
        margin-bottom: 10px;
      }
    }
    .main-image{
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .home-box{
    margin-top: 25px;
    h3{
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    #home-stats{
      .stats-item{
        background: #FFF;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 8px 0 rgba(149,152,154,.4);
        img{
          width: 40px;
          height: 40px;
          object-fit: cover;
        }
        p.cta-color, p.blue{
          font-size: 13px;
        }
      }
      .col{
        &:nth-child(1) {
          h2{
            color: #2ECC71;font-size: 30px;font-weight: bold;
          }
        }
        &:nth-child(2) {
          h2{
            color: #E74C3C;font-size: 30px;font-weight: bold;
          }
        }
        &:nth-child(3) {
          h2{
            color: #3498DB;font-size: 30px;font-weight: bold;
          }
        }
        &:nth-child(4){
          h2{
            color: #F1C40F;font-size: 30px;font-weight: bold;
          }
        }
      }
    }
    #newsfeed{
      background: #FFF;
      padding: 1em;
      box-shadow: 0 0 8px 0 rgba(149,152,154,.4);
      .newsfeed-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 10px;
        border-bottom: 2px solid #E5E5E5;
        .feed-title{
          h4{
            font-size: 20px;
            color: #2ECC71;
            font-weight: bold;
          }
          p{
            color: #535353;
            font-weight: bold;
          }
        }
        .newsfeed-icon{
          height: 30px;
          width: 30px;
          &:hover{
            svg {
              cursor: pointer;
              path{
                fill: #2ECC71!important;
              }
            }
          }
        }
        .newsfeed-img {
          display: flex;
          align-items: center;
          img{
            width: 40px;
            height: 40px;
            object-fit: cover;
            margin-left: 10px;
          }
        }
        &:nth-child(n+2){
          padding-top: 20px;
        }
        &:last-child{
          border-bottom: none;
          padding-bottom: 10px;
        }
      }
    }
  }
  .navigation-box{
    a{
      text-decoration: none;
    }
    padding-bottom: 60px;
    >.grid:nth-child(n) h3, >form:nth-child(n) h3{
      color: #2ECC71;
    }
    >.grid:nth-child(2n) h3, >form:nth-child(2n) h3{
      color: #3498db;
    }
    .navigation-custom{
      display: none;
      .navigation-fields{
        .col-2 {
          display: flex;
          justify-content: center;
          align-items:center;
        }
        .col-9{
          display: flex;
          align-items:center;
          input{
            padding: 1.5em 1em;
            border: none;
            max-width: 400px;
            width: 100%;
            background-size: 25px;
            background-color: #fff;
          }
          .previewInput{
            width: 100px;
            height:100px;
            margin-left: 10px;
            border-radius: 50%;
            border: 5px solid #2ecc71;
          }
        }
        .button-default{
          display: flex;
          justify-content: center;
          align-items: center;
          &.active{
            background: #2ECC71;
            color: white;
          }
        }
      }
    }
    .navigation-item{
      background: white;
      box-shadow: 0 0 8px 0 rgba(149,152,154,.4);
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3{
        padding: 1.5em;
        font-weight: bold;
      }
      .save-alert{
        padding: 1.5em;
        color: #e74c3c;
        font-weight: bold;
      }
    }
    .navigation-main-cta{
      .button-is-default.active, .button-is-default:hover{
        background: url(../img/buttons/button-is-default-active.svg) no-repeat center center;
        background-color: #2ecc71;
        background-size: 50%;
      }
      .button-delete, .button-paint{
        width: 45px;
        height: 45px;
        background-size: 50%;
      }
      .button-paint.active{
        background: url(../img/buttons/button-brush-active.svg) no-repeat center center;
        background-size: 50%;
        background-color: #F1C40F;
      }
    }
  }
  .navigation-custom-box{
    .navigation-custom-title{
      padding: 1em;
      border-bottom: 4px solid #2ecc71;
      h2{
        font-weight: bold;
        color: #2ecc71;
      }
    }
    .navigation-custom-items{
      margin-top: 20px;
      .navigation-group-title{
        background-color: #ffffff;
        padding: 1em;
        border-bottom: 4px solid #2ecc71;
        h3{
          font-weight: bold;
          color: #2ecc71;
        }
      }
      div.navigation-group-element-title{
        &:after{
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 7px 0 7px;
          border-color: $elexyr-green transparent transparent transparent;
        }
        &.yellow:hover {
          color: $elexyr-yellow;
        }
        &.yellow:after {
          border-color: $elexyr-yellow transparent transparent transparent;
        }
        &.active:after{
          content: '';
          width: 0;
          height: 0;
          border-width: 0 7px 10px 7px;
          border-color: transparent transparent $elexyr-green transparent;
        }
        &.active.yellow:after {
          border-color: transparent transparent $elexyr-yellow transparent;
        }
      }
      div[class^="navigation-group-element-title"]{
        background-color: #ffffff;
        margin:10px 0;
        padding: 1em;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      div[class$="-no-toggle"]{
        padding: 12px 1em;
      }
      .navigation-group-element-param{
        display: none;
        &.active{
          display: inline-block;
        }
        input:not([type=checkbox]){
          padding: 1.5em 1em;
          border: none;
          max-width: 400px;
          flex: 2;
          background-size: 25px;
          background-color: #fff;
        }
      }
    }
  }

  #mass-action {
    margin: 0 5px;
    .navigation-custom-items{
      margin: 0;
      padding: 0;
      .navigation-group-element{
        position: relative;
        .navigation-group-element-title {
          padding-left: 15px;
          padding-right: 15px;
          margin: 5px 0;
          p {
            padding-right: 15px;
          }
        }
        .navigation-group-element-param {
          width: 100%;
          position: absolute;
          margin: 0;
          z-index: 1;
        }
        .button-mass-delete {
          color: $elexyr-red;
          text-align: center;
          line-height: 45px;
        }
      }
    }
  }

  #searchbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    form{
      width: 100%;
      max-width: 400px;
      input{
        padding: 1.5em 1em;
        border: none;
        width: 100%;
        background: url(../img/global/searchbar-icon.svg) no-repeat 97%;
        background-size: 25px;
        background-color: white;
      }
    }
    .user-profile{
      display: flex;
      align-items: center;
      .user-img{
        display: inline-block;
        padding: 5px;
        img{
          object-fit: cover;
          display: block;
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
      }
      a{
        text-decoration: none;
        color: #535353;
        font-weight: bold;
        &:hover{
          color: #2ECC71;
        }
      }
    }
  }
}

.media-box{
  .media{
    position: relative;
    background: url(../img/dev/transparent-bg.png) no-repeat 90%;
    .media-checked{
      display: flex;
      position: absolute;
      top: 5px;
      right: 5px;
    }
    .media-checked .checkbox-checked{
      display: none;
      height: 30px;
      width: 30px;
    }
    .media-checked .checkbox-unchecked{
      display: inline-block;
      height: 30px;
      width: 30px;
    }
    .button-delete{
      height: 30px;
      width: 30px;
    }
    .button-download{
      height: 30px;
      width: 30px;
    }
    img{
      width: 100%;
      display: block;
      height: 168px;
      object-fit: cover;
      user-select: none;
      box-shadow: 3px 3px 12px #888888;
    }
  }
  img:hover{
  }
}

@media #{$z-sm}{
  #elexyr-sidebar{
    width: 100%;
    display: block;
    min-height: initial;
    >div{
      position: inherit;
    }
    #logo{
      position: initial;
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;
      #sidebar-responsive-button{
        display: block;
        padding: 10px;
        a{
          text-decoration: none;
          font-weight: bold;
          color: #2ecc71;
        }
      }
    }
    #sidebar-menu{
      display: none;
    }
  }
}

.home{
  display: flex;
  align-items: center;
  img{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    border-radius: 50%;
    border: 3px solid #2ECC71;
    object-fit: cover;
  }
}

.media-collection{
  .preview-box{
    max-height: 300px;
    overflow-y: scroll;
  }
  .active{
    background-color: $elexyr-green;
  }
  .video-media{
    height: 150px;
    p {
      margin-top: 70%;
    }
  }
  .media-img-value, .media-video-value{
    cursor: pointer;
    padding: 8px;
  }
  img{
    width: 100%;
  }
}