
<div class="logo">
    <img src="<?php echo $websiteLogoSrc ?>" alt="<?php echo $websiteName; ?>" width="60">
</div>
<div class="container">
    <nav>
        <?php if (!empty($navData)): ?>
            <ul>
                <?php foreach ($navData as $data): ?>
                    <?php foreach ($data['items'] as $item): ?>
                        <li>
                            <a href="<?php echo $routerHelper->getFrontendUrl($item->getLinkTarget()) ?>">
                                <?php echo $item->getTitle(); ?>
                            </a>
                        </li>
                    <?php endforeach; ?>
                <?php endforeach; ?>
            </ul>
        <?php endif; ?>
    </nav>
</div>
