<?php $introImage = Entity::get('MediaImage')->loadById($articleContent->getIntroImage()); ?>
<?php $currentUser = Entity::get('User')->loadById($articleContent->getAuthorId()); ?>

<div class="container single-content">
    <div class="intro">
        <hr>
        <h1><?php echo $articleContent->getTitle(); ?></h1>
        <h3><?php echo $articleContent->getSubtitle(); ?></h3>
        <img src="<?php echo $introImage->getMediaPath('image') ?>" alt="">
    </div>
    <div class="content">
        <div class="grid">
            <div class="col"></div>
            <div class="col-8 article-content">
                <?php echo $articleContent->getContent(false); ?>
            </div>
            <div class="col author-info">
                <div>
                    <img src="<?php echo Tools::get('user/image')->getUserMainImagePath($articleContent->getAuthorId()); ?>" alt="">
                </div>
                <div>
                    <p>written by</p>
                    <p><b><?php echo $currentUser->getFirstname() .' '. $currentUser->getLastname(); ?></b></p>
                </div>
            </div>
        </div>
    </div>
</div>
