<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- css -->
    <?php echo $this->getAsset('zion.css','css','lib','app') ?>
    <?php echo $this->getAsset('setup.min.css','css','setup') ?>
    <!-- jquery -->
    <?php echo $this->getAsset('jquery.js','js','app') ?>
</head>
<body>
    <main>
        <?php $this->useMainTemplate() ?>
    </main>

    <!-- js -->
    <?php echo $this->getAsset('checkbox.js','js','app') ?>
    <?php echo $this->getAsset('tools.js','js','app') ?>
</body>
</html>