<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- css -->
    <?php echo $this->getAsset('zion.css','css','lib','app'); ?>
    <?php echo $this->getAsset('elexyr/404.min.css','css','app') ?>
</head>
<body>
    <main>
        <div class="content">
            <img src="<?php echo $this->getImgSrc('buttons/button-elexyr.svg','app') ?>"  width="40" alt="">
            <h1>Oops : 404 not found</h1>
            <h3>The page you looking for isn't here</h3>
        </div>
    </main>
</body>
</html>