<?php if (!empty($formErrors)): ?>
    <div class="form-errors">
        <div>
            <?php foreach ($formErrors as $error): ?>
                <p><?php echo $error; ?></p>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<div class="settings-box">
    <form <?php echo $form->initFormTag($formActionParams) ?>>
        <div id="content-cta">
            <a href="<?php echo $this->getRoutePath('media_list'); ?>"><span class="button-previous"></span></a>
            <button class="button-save"></button>
            <input type="submit" style="display: none">
            <div class="breadcrumb">
                <a href="<?php echo $this->getRoutePath('media_list'); ?>">All medias</a>
            </div>
        </div>
        <div class="settings-logo v-align-center">
            <p>Pictogram file</p>
            <span class="button-add"></span>
            <input type="file" class="input-img" name="pictogram">
            <?php if (isset($pictogramId)): ?>
                <img class="previewInput" src="<?php echo $pictogramObject->getMediaPath('pictogram') ?>" alt="<?php echo $pictogramObject->getAltText() ?>" width="100">
            <?php else: ?>
                <img class="previewInput" src="<?php echo $this->getImgSrc('dev/imgpreview.png', 'app') ?>" alt="" width="100">
            <?php endif; ?>
        </div>
        <br>

        <div class="settings-input m-t-40">
            <input type="text" name="label" placeholder="Pictogram label" <?php echo $form->getValue('label'); ?>><br>
            <input type="text" name="alt_text" placeholder="Alternative text" <?php echo $form->getValue('alt_text'); ?>><br>
        </div>
    </form>
</div>
