<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="<?php echo $this->getImgSrc('global/favicon.ico', 'app') ?>"/>
    <title>Elexyr</title>
    <!-- css -->
    <?php echo $this->getAsset('zion.css','css','lib','app') ?>
    <?php echo $this->getAsset('elexyr.min.css','css','app') ?>
    <!-- jquery -->
    <?php echo $this->getAsset('jquery.js','js','app') ?>
</head>
<body>

<main>
    <div class="grid noMargin">

        <div id="elexyr-sidebar">
            <?php $this->useTemplate('sidebar', 'app') ?>
        </div>
        <div id="elexyr-content" class="col">

            <?php $this->useTemplate('searchbar', 'app') ?>

            <?php $this->useMainTemplate() ?>

        </div>
    </div>
</main>

<div class="modal-overlay"></div>

<!-- js -->
<?php echo $this->getAsset('checkbox.js','js','app') ?>
<?php echo $this->getAsset('menu.js','js','app') ?>
<?php echo $this->getAsset('modal.js','js','app') ?>
<?php echo $this->getAsset('input.js','js','app') ?>
<?php echo $this->getAsset('tools.js','js','app') ?>
<?php echo $this->getAsset('page.js','js','app') ?>
<?php echo $this->getAsset('toggle.js','js','app') ?>

<!-- lib -->
<?php echo $this->getAsset('ckeditor/ckeditor.js','js','app') ?>
<script>
    Checkbox.openInput('#content-cta .button-add','#content-cta .button-save', '#content-cta form');
    Checkbox.checkboxSelector('div#content-cta span.checkbox-unchecked','div#content-cta span.checkbox-checked','div.page-img span.checkbox-unchecked','div.page-img span.checkbox-checked','div.page-img input.checkbox-input');
    Menu.toggle('#sidebar-menu','#sidebar-responsive-button');
    Modal.deleteModal('.user-delete','.modal');
    Modal.deleteModal('.theme-delete','.modal');
    Checkbox.imgInput('.settings-logo .button-add','.settings-logo .previewInput');
</script>

</body>
</html>