<?php if (!empty($formErrors)): ?>
    <div class="form-errors">
        <div>
            <?php foreach ($formErrors as $error): ?>
                <p><?php echo $error; ?></p>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<form <?php echo $form->initFormTag($formParams) ?>>
    <div id="content-cta">
        <a href="<?php echo $this->getRoutePath('content_add', ['page_id' => $currentPageItem->getEntityId(), 'id' => $currentContentId]); ?>" class="button-previous"></a>
        <button class="button-save"></button>
        <div class="breadcrumb">
            <a href="<?php echo $this->getRoutePath('page_list'); ?>">pages</a>
            <a href="<?php echo $this->getRoutePath('pages_custom', ['id' => $currentPageItem->getEntityId()]); ?>"><?php echo $currentPageItem->getName(); ?></a>
            <a href="<?php echo $this->getRoutePath('content_add', ['page_id' => $currentPageItem->getEntityId(), 'id' => $currentContentId]); ?>">content selector</a>
        </div>
        <div class="breadcrumb">
            <div class="forward">
                <span></span>
                <a href="<?php echo $frontendUrl; ?>" target="blank">View page</a>
            </div>
        </div>
    </div>

    <div id="content-form">
        <div class="grid">
            <div class="col">
                <div class="content-group">
                    <div class="content-title">
                        <h3>content</h3>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>wysiwyg editor</p>
                        </div>
                        <div class="content-param">
                            <div id="textarea_content" style="display: none;">
                                <?php echo html_entity_decode($form->getFieldValue('content')); ?>
                            </div>
                            <textarea name="content" id="content" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<script>
    jQuery(document).ready(function () {
        Input.toggleContent('.content-group .content-title', '.content-param', '.content-element');
        Input.triggerSave('#content-cta .button-save');

        var textarea = jQuery('#textarea_content').html();
        CKEDITOR.replace('content', {
            extraAllowedContent: [
                "*[class,id]",
                "a[*]",
                "img[*]",
                "strong", "em", "small",
                "u", "s", "i", "b",
                "p(*){*}[*]", "blockquote[class,id]",
                "div[class,id,data-href]",
                "ul", "ol", "li",
                "br", "hr",
                "h1", "h2", "h3", "h4", "h5", "h6",
                "script[src,charset,async]",
                "iframe[*]", "embed[*]", "object[*]",
                "cite", "mark", "time",
                "dd", "dl", "dt",
                "table", "th", "tr", "td", "tbody", "thead", "tfoot",
                'div(*){*}[*]'
            ],
            on: {
                instanceReady: function() {
                    // this is current editor instance
                    this.insertHtml( textarea );
                }
            }
        });
    })
</script>