<div id="builder">
    <div class="grid">
        <div class="col-5">
            <?php if ($currentSectionsNumber == 0): ?>
            <form <?php echo $creationForm->initFormTag(['id' => $currentPageId]); ?>>
            <div class="page-section">
                <div class="page-section-title">
                    <span class="button-elexyr"></span><h2>How many sections do you want ?</h2>
                </div>
                <div class="page-section-number">
                    <?php for ($i = 1; $i <= 12; $i++): ?>
                        <?php if ($i == 1 || $i == 7): ?>
                            <div>
                        <?php endif; ?>
                        <span class="button-default <?php if ($creationForm->getFieldValue('sections_number') == $i): ?> active <?php endif; ?>" data-value="<?php echo $i; ?>"><?php echo $i; ?></span>
                        <?php if ($i == 6 || $i == 12): ?>
                            </div>
                        <?php endif ?>
                    <?php endfor; ?>

                    <input type="number" class="input-position" name="sections_number" <?php echo $creationForm->getValue('sections_number') ?> style="display: none;">
                </div>
                <div class="page-section-save">
                    <button class="button-save"></button>
                </div>
            </form>
            </div>
            <?php else: ?>
                <div class="v-align-center">
                    <a href="<?php echo $this->getRoutePath('page_list'); ?>" class="button-previous"></a>
                    <a href="<?php echo $this->getRoutePath('pages_edit', ["page_id" => $currentPageId ]); ?>"><span class="button-elexyr"></span></a>
                    <div class="breadcrumb no-link">
                        <p><a class="no-link"><?php echo $currentPageItem->getName(); ?></a></p>
                    </div>
                    <div class="breadcrumb">
                        <div class="forward">
                            <span></span>
                            <a href="<?php echo $frontendUrl; ?>" target="blank">View page</a>
                        </div>
                    </div>
                </div>
                <div id="content-cta">
                    <a href="<?php echo $this->getRoutePath('section_create', ["id" => $currentPageId]); ?>" class="button-add"></a>
                    <a href="<?php echo $this->getRoutePath('section_create', ["id" => $currentPageId]); ?>" class="breadcrumb no-decoration cta-color">Add a new section !</span></a>
                </div>
                <ul id="section-list">
                    <?php foreach ($sectionCollections as $key => $sectionCollection): ?>
                        <li class="page-block" draggable="true" data-id="<?php echo $sectionCollection['section']->getEntityId(); ?>">
                            <div class="grid">
                                <div class="col-8 ">
                                    <div class="page-item">
                                        <p>section <?php echo $sectionCollection['section']->getPosition(); ?></p>
                                    </div>
                                </div>
                                <div class="col ">
                                    <a data-href="<?php echo $this->getRoutePath('section_delete', ["id" => $sectionCollection['section']->getEntityId()]); ?>">
                                        <span class="button-delete"></span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
        </div>
        <div class="col-7">
            <div class="page-builder">
                <?php if ($currentSectionsNumber == 0): ?>
                    <span class="layout-1"></span>
                    <p class="empty m-t-10">page builder is currently empty</p>
                <?php else: ?>
                    <div id="builder">
                        <div class="grid">
                            <div class="col-12 txtCenter header">
                                <p>header</p>
                            </div>
                            <?php foreach($sectionCollections as $sectionCollection): ?>
                            <div class="col-12 txtCenter builder-section">
                                <div class="grid txtCenter">
                                    <div class="col-9 builder-section-group noPadding" data-id="<?php echo $sectionCollection['section']->getEntityId(); ?>">
                                        <div class="col-12 builder-section-items v-align-center txtCenter noPadding">
                                            <?php foreach ($sectionCollection['contents'] as $content): ?>
                                                <div class="col builder-section-item v-align-center txtCenter noPadding" data-id="<?php echo $content->getEntityId(); ?>">
                                                    <?php if (empty($content->getContentTypeId())): ?>
                                                        <a class="button-add" href="<?php echo $this->getRoutePath('content_add', ["page_id" => $currentPageId , "id" => $content->getEntityId()]); ?>"></a>
                                                    <?php else: ?>
                                                        <a class="button-paint" href="<?php echo $this->getRoutePath('content_add', ["page_id" => $currentPageId , "id" => $content->getEntityId()]); ?>"></a>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endforeach; ?>
                                        </div>
                                        <div class="col-12 builder-section-number v-align-center txtCenter noPadding">
                                            <?php for ($j=1; $j <= 8; $j++): ?>
                                                <button class="button-default"><?php echo $j; ?></button>
                                            <?php endfor; ?>
                                        </div>
                                    </div>
                                    <div class="col-2 builder-section-params noPadding">
                                        <button class="button-section"></button>
                                            <a href="<?php echo $this->getRoutePath('section_edit', ['section_id' => $sectionCollection['section']->getEntityId()]) ?>">
                                                <span class="button-elexyr"></span>
                                            </a>
                                    </div>
                                </div>
                            </div>
                            <?php endforeach; ?>
                            <div class="col-12 txtCenter footer">
                                <p>footer</p>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
            </div>
        </div>
</div>

<div class="modal modal-delete">
    <h2 class="txtCenter">WARNING</h2>
    <br>
    <p>Delete this section ?</p>
    <div class="modal-cta">
        <span class="modal-cancel">cancel</span>
        <a href="">
            <span class="modal-delete delete">delete</span>
        </a>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        Page.cloneSection('.builder-section-number > button', '.builder-section-item', '.builder-section-group', '.builder-section-items');
        Page.displayCloneSection('.builder-section-params > .button-section', '.builder-section-number', 'active');
        Tools.ajaxInsertSection('.builder-section-number .button-default');
        Tools.dragAndDrop('#section-list li', 'data-position', 'p', true);
        Input.navigationPositionButtons('.page-section .button-default');
        Modal.deleteModal('.page-block .button-delete','.modal.modal-delete');
        Modal.sendHrefToModal('.page-block .button-delete', '.modal.modal-delete .delete');
    })
</script>