<?php if (!empty($formErrors)): ?>
    <div class="form-errors">
        <div>
            <?php foreach ($formErrors as $error): ?>
                <p><?php echo $error; ?></p>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<form <?php echo $updateForm->initFormTag(['page_id' => $currentPageId]) ?>>
    <div id="content-cta">
        <a href="<?php echo $this->getRoutePath( 'pages_custom', ['id' => $currentPageId] ); ?>"><span class="button-previous"></span></a>
        <button class="button-save"></button>
        <input type="submit">
        <a href="<?php echo $this->getRoutePath( 'pages_custom', ['id' => $currentPageId] ); ?>"><span class="button-elexyr active"></span></a>
        <div class="breadcrumb">
            <a href="<?php echo $this->getRoutePath( 'pages_custom', ['id' => $currentPageId] ); ?>"><?php echo $currentPageName; ?></a>
        </div>
        <div class="breadcrumb">
            <div class="forward">
                <span></span>
                <a href="<?php echo $frontendUrl; ?>" target="blank">View page</a>
            </div>
        </div>
    </div>

    <div class="settings-box">
        <div class="settings-logo v-align-center">
            <p>Page back office preview</p>
            <span class="button-add"></span>
            <input type="file" class="input-img" name="image">
            <?php if (!empty($currentPage->getImage())): ?>
                <div class="user-img">
                    <img class="previewInput" src="<?php echo $currentPage->getMediaPath('image') ?>" alt="">
                </div>
            <?php else: ?>
                <img class="previewInput" src="<?php echo $this->getImgSrc('dev/imgpreview.png', 'app') ?>" alt="select your page image" width="100">
            <?php endif; ?>
        </div>
    </div>

    <div id="content-form" class="m-t-30">
        <div class="grid">
            <div class="col">
                <div class="content-group">
                    <div class="content-title">
                        <h3>Page data</h3>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>Name</p>
                        </div>
                        <div class="content-param">
                            <input name="name" type="text" <?php echo $updateForm->getValue('name');?>>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="content-element">
                        <div class="content-title-no-toggle">
                            <p>Is active</p>
                            <div class="switch-container" >
                                <input name="is_active" type="checkbox" class="switch" value="1" <?php echo $updateForm->getValue('is_active');?> >
                                <label for="switch">Toggle</label>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="content-group">
                    <div class="content-title">
                        <h3>Front access</h3>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>Url key</p>
                        </div>
                        <div class="content-param">
                            <input name="url_key" type="text" <?php echo $updateForm->getValue('url_key');?>>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    jQuery(document).ready(function () {
        Input.toggleContent('.content-group .content-title', '.content-param', '.content-element');
        Input.triggerSave('#content-cta .button-save');
    })
</script>
