<?php if (!empty($formErrors)): ?>
    <div class="form-errors">
        <div>
            <?php foreach ($formErrors as $error): ?>
                <p><?php echo $error; ?></p>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<div id="content-cta">
    <span class="button-add"></span>
    <button class="button-save" style="display: none;"></button>
    <form <?php echo $creationForm->initFormTag() ?>>
        <input type="text" name="name" class="input-text" >
        <input type="submit" class="input-submit" name="cta-submit">
    </form>

    <span class="checkbox-checked" style="display: none"></span>
    <span class="checkbox-unchecked"></span>

    <div id="mass-action" class="navigation-custom-box">
        <div class="navigation-custom-items">
            <div class="navigation-group-element">
                <div class="navigation-group-element-title breadcrumb yellow">
                    <p>Choose action ... </p>
                </div>
                <div class="navigation-group-element-param breadcrumb">
                    <p class="button-mass-delete">delete all</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <?php if ($previousPage != false): ?>
        <div class="breadcrumb pagination">
            <a href="<?php echo $this->getRoutePath('page_list_page', ['page_number' => $previousPage], 'page') ?>">< Previous page</a>
        </div>
    <?php endif; ?>
    <?php if ($nextPage != false): ?>
        <div class="breadcrumb pagination">
            <a href="<?php echo $this->getRoutePath('page_list_page', ['page_number' => $nextPage], 'page') ?>">Next page ></a>
        </div>
    <?php endif; ?>
</div>

<form action="<?php echo $this->getRoutePath('page_mass_delete') ?>" method="post">
    <div class="page-box">
        <div class="grid-4_md-2_sm-1">
            <?php foreach ($pageCollection as $page): ?>
            <div class="col">
                <div class="page <?php if ($page->getIsActive() != 1): ?> not-visible <?php endif; ?>">
                    <div class="page-img">
                        <div class="page-checked">
                            <?php if ($pageHelper->isHomePage($page) === true): ?>
                                <span class="button-home"></span>
                            <?php endif; ?>
                            <a href="<?php echo $this->getRoutePath('page_disable', ["id" => $page->getEntityId()]); ?>">
                                <span class="button-visible" <?php if ($page->getIsActive() != 1): ?> style="display: none;" <?php endif; ?> ></span>
                            </a>
                            <a href="<?php echo $this->getRoutePath('page_enable', ["id" => $page->getEntityId()]); ?>">
                                <span class="button-not-visible" <?php if ($page->getIsActive() != 0): ?> style="display: none;" <?php endif; ?> ></span>
                            </a>
                            <span class="checkbox-checked"></span>
                            <span class="checkbox-unchecked"></span>
                            <input class="checkbox-input" type="checkbox" name="<?php echo $pageHelper::PAGE_MASS_ACTION_PREFIX . '-' . $page->getEntityId() ?>" style="display: none">
                        </div>
                        <?php if (!empty($page->getImage())): ?>
                            <img src="<?php echo $page->getMediaPath('image') ?>" alt="<?php echo $page->getName() ?>">
                        <?php else: ?>
                            <img src="<?php echo $this->getImgSrc('dev/page-preview.jpg','app') ?>" alt="">
                        <?php endif; ?>
                    </div>
                    <div class="bottom-page">
                        <p><?php echo $page->getName(); ?></p>
                    </div>
                    <div class="page-custom">
                        <a href="<?php echo $this->getRoutePath('pages_custom', ["id" => $page->getEntityId()]); ?>"><span class="button-paint"></span></a>
                        <a href="<?php echo $this->getRoutePath('page_home', ["page_id" => $page->getEntityId()]); ?>"><span class="button-home-blue"></span></a>
                        <a data-href="<?php echo $this->getRoutePath('page_delete', ["id" => $page->getEntityId()]); ?>" >
                            <span class="button-delete"></span>
                        </a>
                    </div>
                </div>
            </div>
            <?php endforeach; ?>
        </div>
    </div>

    <div class="modal mass-delete">
        <h2 class="txtCenter">WARNING</h2>
        <br>
        <p>Are you sure you want to delete all selected items ?</p>
        <div class="modal-cta">
            <span class="modal-cancel">cancel</span>
            <input class="navigation-submit modal-delete" type="submit" value="delete">
        </div>
    </div>
</form>

<div class="modal">
    <h2 class="txtCenter">WARNING</h2>
    <br>
    <p>Delete this page ?</p>
    <div class="modal-cta">
        <span class="modal-cancel">cancel</span>
        <a href=""><span class="modal-delete">delete</span></a>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        Checkbox.visibleButton('.page-checked .button-visible','.page-checked .button-not-visible');
        Modal.deleteModal(".button-delete",".modal");
        Modal.deleteModal(".button-mass-delete",".modal.mass-delete");
        Modal.sendHrefToModal('.page-box .button-delete','.modal .modal-delete');
        Input.toggleContent('.navigation-group-element-title','.navigation-group-element-param','.navigation-group-element');
    })
</script>