<?php if ($formErrors): ?>
    <div class="form-errors">
            <div class="close">
                <span>X</span>
            </div>
            <div>
                <?php foreach ($formErrors as $error): ?>
                    <?php echo $error; ?><br>
                <?php endforeach; ?>
            </div>
    </div>
<?php endif; ?>

<div id="login">
    <div class="login-box">
        <img src="<?php echo $this->getImgSrc('global/elexyr.svg','app') ?>"  alt="">

        <form <?php echo $loginForm->initFormTag() ?>>
            <input type="email" placeholder="email" name="email" <?php echo $loginForm->getValue('email'); ?>><br>
            <input type="password" placeholder="password" name="password"><br>

            <input type="submit" value="Log in"><br>
        </form>

        <div class="password">
            <span class="lock-icon"></span>
            <a href="<?php echo $this->getRoutePath('password_reset', [], 'user') ?>">Forgot your password ?</a>
        </div>
    </div>
</div>

<?php echo $this->getAsset('tools.js','js','app') ?>
<script>
    jQuery(document).ready(function () {
        Tools.closeFormError('.close', '.form-errors');
    });
</script>