<?php if (!empty($formErrors)): ?>
    <div class="form-errors">
        <div>
            <?php foreach ($formErrors as $error): ?>
                <p><?php echo $error; ?></p>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<form <?php echo $form->initFormTag($formParams) ?>>
    <div id="content-cta">
        <a href="<?php echo $this->getRoutePath('content_add', ['page_id' => $currentPageItem->getEntityId(), 'id' => $currentContentId]); ?>" class="button-previous"></a>
        <button class="button-save"></button>
        <div class="breadcrumb">
            <a href="<?php echo $this->getRoutePath('page_list'); ?>">pages</a>
            <a href="<?php echo $this->getRoutePath('pages_custom', ['id' => $currentPageItem->getEntityId()]); ?>"><?php echo $currentPageItem->getName(); ?></a>
            <a href="<?php echo $this->getRoutePath('content_add', ['page_id' => $currentPageItem->getEntityId(), 'id' => $currentContentId]); ?>">content selector</a>
        </div>
        <div class="breadcrumb">
            <div class="forward">
                <span></span>
                <a href="<?php echo $frontendUrl; ?>" target="blank">View page</a>
            </div>
        </div>
    </div>

    <div id="content-form">
        <div class="grid">
            <div class="col">
                <div class="content-group">
                    <div class="content-title">
                        <h3>content</h3>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>video</p>
                        </div>
                        <div class="content-param">
                            <input id="video" name="video" type="text" placeholder="video" <?php echo $form->getValue('video'); ?> style="display: none">
                            <div class="media-collection">
                                <?php echo $this->useTemplate('media_video_collection') ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="content-group">
                    <div class="content-title">
                        <h3>style</h3>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>video height</p>
                        </div>
                        <div class="content-param">
                            <input type="text" name="video_height" placeholder="video height" <?php echo $form->getValue('video_height'); ?>>
                        </div>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>video width</p>
                        </div>
                        <div class="content-param">
                            <input type="text" name="video_width" placeholder="video width" <?php echo $form->getValue('video_width'); ?>>
                        </div>
                    </div>
                    <div class="content-element">
                        <div class="content-title-no-toggle">
                            <p>autoplay</p>
                            <div class="switch-container">
                                <input type="checkbox" name="autoplay" class="switch" value="1" <?php echo $form->getValue('autoplay'); ?>>
                                <label for="switch">Toggle</label>
                            </div>
                        </div>
                    </div>
                    <div class="content-element">
                        <div class="content-title-no-toggle">
                            <p>controls</p>
                            <div class="switch-container">
                                <input type="checkbox" name="controls" class="switch" value="1" <?php echo $form->getValue('controls'); ?>>
                                <label for="switch">Toggle</label>
                            </div>
                        </div>
                    </div>
                    <div class="content-element">
                        <div class="content-title-no-toggle">
                            <p>muted</p>
                            <div class="switch-container">
                                <input type="checkbox" name="muted" class="switch" value="1" <?php echo $form->getValue('muted'); ?>>
                                <label for="switch">Toggle</label>
                            </div>
                        </div>
                    </div>
                    <div class="content-element">
                        <div class="content-title-no-toggle">
                            <p>loop</p>
                            <div class="switch-container">
                                <input type="checkbox" name="looping" class="switch" value="1" <?php echo $form->getValue('looping'); ?>>
                                <label for="switch">Toggle</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<script>
    jQuery(document).ready(function () {
        Input.elexyrSelect('#select_alignment');
        Input.triggerMediaInput('.media-video-value', '#video');
        Input.toggleContent('.content-group .content-title', '.content-param', '.content-element');
        Input.triggerSave('#content-cta .button-save');
    })
</script>