<?php if (!empty($formErrors)): ?>
    <div class="form-errors">
        <div>
            <?php foreach ($formErrors as $error): ?>
                <p><?php echo $error; ?></p>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<form <?php echo $form->initFormTag($formParams) ?>>
    <div id="content-cta">
        <a href="<?php echo $this->getRoutePath('content_add', ['page_id' => $currentPageItem->getEntityId(), 'id' => $currentContentId]); ?>" class="button-previous"></a>
        <button class="button-save"></button>
        <div class="breadcrumb">
            <a href="<?php echo $this->getRoutePath('page_list'); ?>">pages</a>
            <a href="<?php echo $this->getRoutePath('pages_custom', ['id' => $currentPageItem->getEntityId()]); ?>"><?php echo $currentPageItem->getName(); ?></a>
            <a href="<?php echo $this->getRoutePath('content_add', ['page_id' => $currentPageItem->getEntityId(), 'id' => $currentContentId]); ?>">content selector</a>
        </div>
        <div class="breadcrumb">
            <div class="forward">
                <span></span>
                <a href="<?php echo $frontendUrl; ?>" target="blank">View page</a>
            </div>
        </div>
    </div>

    <div id="content-form">
        <div class="grid">
            <div class="col">
                <div class="content-group">
                    <div class="content-title">
                        <h3>content</h3>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>text</p>
                        </div>
                        <div class="content-param">
                            <div id="textarea_content" style="display: none;">
                                <?php echo html_entity_decode($form->getFieldValue('content')); ?>
                            </div>
                            <textarea name="content" id="content" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>image</p>
                        </div>
                        <div class="content-param">
                            <input id="image" name="image" type="text" placeholder="image" <?php echo $form->getValue('image'); ?> style="display: none">
                            <div class="media-collection">
                                <?php echo $this->useTemplate('media_image_collection') ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="content-group">
                    <div class="content-title">
                        <h3>style</h3>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>background color</p>
                        </div>
                        <div class="content-param">
                            <div class="color-preview">
                                <input type="text" name="background_color" placeholder="background color" <?php echo $form->getValue('background_color'); ?>>
                                <div style="background: <?php echo $form->getFieldValue('background_color'); ?>"></div>
                            </div>
                        </div>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>image width</p>
                        </div>
                        <div class="content-param">
                            <input type="text" name="img_width" placeholder="image width" <?php echo $form->getValue('img_width'); ?>>
                        </div>
                    </div>
                    <div class="content-element">
                        <div id="select_alignment" class="elexyr-select">
                            <div class="select-title">
                                <p>image position</p>
                            </div>
                            <div class="select-items">
                                <span class="select-item"></span>
                            </div>
                            <select name="img_position">
                                <option value="top" <?php echo $form->getValue('img_position', 'top'); ?>>top</option>
                                <option value="right" <?php echo $form->getValue('img_position', 'right'); ?>>right</option>
                                <option value="left" <?php echo $form->getValue('img_position', 'left'); ?>>left</option>
                                <option value="bottom" <?php echo $form->getValue('img_position', 'bottom'); ?>>bottom</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<script>
    jQuery(document).ready(function () {
        Input.elexyrSelect('#select_alignment');
        Input.triggerMediaInput('.media-img-value', '#image');
        Input.toggleContent('.content-group .content-title', '.content-param', '.content-element');
        Input.triggerSave('#content-cta .button-save');
        Input.colorPreview('.color-preview');

        var textarea = jQuery('#textarea_content').html();
        CKEDITOR.replace('content', {
            extraAllowedContent: 'style;*[id,rel](*){*}',
            on: {
                instanceReady: function() {
                    // this is current editor instance
                    this.insertHtml( textarea );
                }
            }
        });
    })
</script>