<?php $video = Entity::get('MediaVideo')->loadById($content['contentType'][0]->getVideo()); ?>
<?php $contentType = $content['contentType'][0]; ?>

<?php if (!empty($content['contentType'][0])): ?>
    <div id="ContentVideo">
        <video <?php if($contentType->getAutoplay() == true): ?>autoplay<?php endif; ?> <?php if($contentType->getLooping() == true): ?>loop<?php endif; ?> <?php if($contentType->getControls() == true): ?>controls<?php endif; ?> <?php if($contentType->getMuted() == true): ?>muted<?php endif; ?> height="<?php echo $contentType->getVideoHeight(); ?>" width="<?php echo $contentType->getVideoWidth(); ?>" src="<?php echo $video->getMediaPath('video'); ?>">
        </video>
    </div>
<?php endif; ?>