<?php $backgroundImage = Entity::get('MediaImage')->loadById($content['contentType'][0]->getImage()); ?>
<?php $position = $content['contentType'][0]->getImgPosition(); ?>

<?php if (!empty($content['contentType'][0])): ?>
    <div id="ContentImgText" class="<?php if ($position == "left"): ?>left<?php elseif($position == "right"): ?>right <?php elseif ($position == "top"): ?>top<?php elseif ($position == "bottom"):?>bottom<?php endif; ?>" style="background-color: <?php echo $content['contentType'][0]->getBackgroundColor();  ?>; ">

            <div class="image">
                <img width="<?php echo $content['contentType'][0]->getImgWidth();  ?>" src="<?php echo $backgroundImage->getMediaPath('image'); ?>" alt="">
            </div>
            <div class="content">
                <?php echo $content['contentType'][0]->getContent(false);  ?>
            </div>

    </div>
<?php endif; ?>
