
<?php if (!empty($content['contentType'][0])): ?>
    <div id="ContentText" style="background-color: <?php echo $content['contentType'][0]->getBackgroundColor();  ?>; padding: <?php echo $content['contentType'][0]->getPadding();  ?>">
        <?php if ($content['contentType'][0]->getdisplayTitle() == true): ?>
            <div class="content-title">
                <h3 style="color: <?php echo $content['contentType'][0]->getColor();  ?>; text-align: <?php echo $content['contentType'][0]->getTextAlign(); ?>; font-size: <?php echo $content['contentType'][0]->getFontSize(); ?>px; width: 100%;">
                    <?php echo $content['contentType'][0]->getTitle();  ?>
                </h3>
            </div>
        <?php endif; ?>
        <?php if (!empty($content['contentType'][0]->getcontent())): ?>
            <?php echo $content['contentType'][0]->getcontent(false); ?>
        <?php endif; ?>
    </div>
<?php endif; ?>