<?php $backgroundImage = Entity::get('MediaImage')->loadById($content['contentType'][0]->getBackgroundImage()); ?>

<?php if ($navData['navigation0']['data']->getOrientation() == true): ?>
    <div class="vertical-navigation">
    <div>
        <?php $navPosition =  $navData['navigation0']['data']->getPosition(); ?>
        <nav style="background: <?php echo $navData['navigation0']['data']->getBackgroundColor(); ?>; <?php if ($navPosition != "center"): ?>flex-direction: <?php echo $navPosition ?> <?php else: ?>justify-content: center!important<?php endif; ?>;padding: <?php echo $content['contentType'][0]->getNavPadding() ?>; ">
                <div class="logo">
                    <a href="<?php echo $homePageUrl ?>">
                        <img src="<?php echo $websiteLogoSrc ?>" alt="<?php echo $websiteName; ?>" width="<?php echo $content['contentType'][0]->getLogoWidth() ?>">
                    </a>
                    <div class="sidebar-responsive-button">
                        <a href="#">Menu</a>
                    </div>
                </div>
            <div class="navigation-container">
                <div class="navigation">
                    <?php foreach ($navData['navigation0']['items'] as $key => $navItems): ?>
                        <a class="<?php if ($navItems->getLinkTarget() == $currentPage->getUrlKey()): ?> active <?php endif; ?>" href="<?php echo $routerHelper->getFrontendUrl($navItems->getLinkTarget()) ?>" style="padding: <?php echo $navData['navigation0']['data']->getItemPadding();?>;color: <?php echo $navItems->getTextColor(); ?>; <?php if ($navData['navigation0']['data']->getTextDecoration() == false): ?> text-decoration: none; <?php endif; ?>">
                            <?php if (!empty($navItems->getIcon())): ?>
                                <img src="<?php echo $navItems->getMediaPath('icon'); ?>" alt="">
                            <?php endif; ?>
                            <span><?php echo $navItems->getTitle(); ?></span>
                        </a>
                        <?php if ($navItems->getUseHoverBackgroundColor() == true): ?>
                            <style>
                                #ContentHeaderFullHeight .navigation > a:hover{
                                    transition: background 0.5s;
                                    background-color: <?php echo $navItems->getHoverBackgroundColor(); ?>;
                                }
                            </style>
                        <?php endif; ?>
                        <?php if (!empty($navItems->getTextHoverColor())): ?>
                            <style>
                                #ContentHeaderFullHeight .navigation > a:hover{
                                    transition: color 0.5s!important;
                                    color: <?php echo $navItems->getTextHoverColor(); ?>!important;
                                }
                            </style>
                        <?php endif; ?>
                        <?php if ($navItems->getUseActiveBackgroundColor() == true): ?>
                            <style>
                                #ContentHeaderFullHeight .navigation > a.active{
                                    background: <?php echo $navItems->getActiveBackgroundColor(); ?>!important;
                                }
                            </style>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </div>
            </div>
        </nav>
    </div>
<?php endif; ?>

<div id="ContentHeaderFullHeight" style="background-color: <?php echo $content['contentType'][0]->getBackgroundColor(); ?>; background: url(<?php echo $backgroundImage->getMediaPath('large_image'); ?>) no-repeat fixed center; background-size: cover">
    <?php if (!empty($navData['navigation0'])): ?>
        <?php $navPosition =  $navData['navigation0']['data']->getPosition(); ?>
        <?php if ($navData['navigation0']['data']->getOrientation() == false): ?>
            <nav style="background: <?php echo $navData['navigation0']['data']->getBackgroundColor(); ?>; <?php if ($navPosition != "center"): ?>flex-direction: <?php echo $navPosition ?> <?php else: ?>justify-content: center!important<?php endif; ?>;padding: <?php echo $content['contentType'][0]->getNavPadding() ?>; ">
                <?php if ($navPosition != "center"): ?>
                    <div class="logo">
                        <a href="<?php echo $homePageUrl ?>">
                            <img src="<?php echo $websiteLogoSrc ?>" alt="<?php echo $websiteName; ?>" width="<?php echo $content['contentType'][0]->getLogoWidth() ?>">
                        </a>
                        <div class="sidebar-responsive-button">
                            <a href="#">Menu</a>
                        </div>
                    </div>
                <?php endif; ?>
                <?php if ($navPosition == "center"): ?>
                    <div class="logo responsive-center" style="display: none;">
                        <a href="<?php echo $homePageUrl ?>">
                            <img src="<?php echo $websiteLogoSrc ?>" alt="<?php echo $websiteName; ?>" width="<?php echo $content['contentType'][0]->getLogoWidth() ?>">
                        </a>
                        <div class="sidebar-responsive-button">
                            <a href="#">Menu</a>
                        </div>
                    </div>
                <?php endif; ?>
                <div class="navigation-container">
                    <div class="navigation">
                        <?php foreach ($navData['navigation0']['items'] as $key => $navItems): ?>
                            <a class="<?php if ($navItems->getLinkTarget() == $currentPage->getUrlKey()): ?> active <?php endif; ?>" href="<?php echo $routerHelper->getFrontendUrl($navItems->getLinkTarget()) ?>" style="padding: <?php echo $navData['navigation0']['data']->getItemPadding();?>;color: <?php echo $navItems->getTextColor(); ?>; <?php if ($navData['navigation0']['data']->getTextDecoration() == false): ?> text-decoration: none; <?php endif; ?>">
                                <?php if (!empty($navItems->getIcon())): ?>
                                    <img src="<?php echo $navItems->getMediaPath('icon'); ?>" alt="">
                                <?php endif; ?>
                                <span><?php echo $navItems->getTitle(); ?></span>                    </a>
                            <?php if ($navPosition == "center" && ($key + 1) == ceil(sizeof($navData['navigation0']['items']) / 2)): ?>
                                <div class="logo">
                                    <a href="<?php echo $homePageUrl ?>">
                                        <img src="<?php echo $websiteLogoSrc ?>" alt="<?php echo $websiteName; ?>" width="<?php echo $content['contentType'][0]->getLogoWidth() ?>">
                                    </a>
                                    <div class="sidebar-responsive-button">
                                        <a href="#">Menu</a>
                                    </div>
                                </div>
                            <?php endif; ?>
                            <?php if ($navItems->getUseHoverBackgroundColor() == true): ?>
                                <style>
                                    #ContentHeaderFullHeight .navigation > a:hover{
                                        transition: background 0.5s;
                                        background-color: <?php echo $navItems->getHoverBackgroundColor(); ?>;
                                    }
                                </style>
                            <?php endif; ?>
                            <?php if (!empty($navItems->getTextHoverColor())): ?>
                                <style>
                                    #ContentHeaderFullHeight .navigation > a:hover{
                                        transition: color 0.5s!important;
                                        color: <?php echo $navItems->getTextHoverColor(); ?>!important;
                                    }
                                </style>
                            <?php endif; ?>
                            <?php if ($navItems->getUseActiveBackgroundColor() == true): ?>
                                <style>
                                    #ContentHeaderFullHeight .navigation > a.active{
                                        background: <?php echo $navItems->getActiveBackgroundColor(); ?>!important;
                                    }
                                </style>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </div>
                </div>
            </nav>
        <?php endif; ?>
    <?php endif; ?>
    <?php if ($content['contentType'][0]->getIsOverlay() == true): ?>
        <div class="overlay" style="background: <?php echo $content['contentType'][0]->getOverlayColor(); ?>;"></div>
    <?php endif; ?>
    <div class="content">
        <?php echo $content['contentType'][0]->getContent(false); ?>
    </div>
</div>

<?php if ($navData['navigation0']['data']->getOrientation() == true): ?>
    </div>
<?php endif; ?>

<?php echo $this->getAsset('menu.js','js','app') ?>
<script>
    jQuery(document).ready(function(){
        Menu.toggle('.navigation-container','.sidebar-responsive-button');
    });
</script>
