<?php $backgroundImage = Entity::get('MediaImage')->loadById($content['contentType'][0]->getBackgroundImage()); ?>

<div id="ContentBanner" style="background-color: <?php echo $content['contentType'][0]->getBackgroundColor(); ?>; background: url(<?php echo $backgroundImage->getMediaPath('image'); ?>) no-repeat fixed center; min-height: <?php echo $content['contentType'][0]->getHeight(); ?>;background-size: cover;">
    <?php if ($content['contentType'][0]->getIsOverlay() == true): ?>
        <div class="overlay" style="background: <?php echo $content['contentType'][0]->getOverlayColor(); ?>;"></div>
    <?php endif; ?>
    <div class="content">
        <?php echo $content['contentType'][0]->getContent(false); ?>
    </div>
</div>