<div class="step-one">
    <div class="intro">
        <img width="50" src="<?php echo $this->getImgSrc('buttons/button-elexyr.svg','app') ?>"  alt="">

        <h1>Welcome to Elexyr</h1>
        <h3>the brand new CMS</h3>
    </div>

    <div id="elexyr-timeline">
        <div class="timeline-item active">
            <a href="<?php echo $this->getRoutePath('step_one') ?>" class="no-decoration">
                <span>1</span>
            </a>
        </div>
        <div class="timeline-item active">
            <a href="<?php echo $this->getRoutePath('step_two') ?>" class="no-decoration">
                <span>2</span>
            </a>
        </div>
        <div class="timeline-item active">
            <a href="<?php echo $this->getRoutePath('step_three_exists') ?>" class="no-decoration">
                <span>3</span>
            </a>
        </div>
        <div class="timeline-item active">
            <a href="<?php echo $this->getRoutePath('step_four') ?>" class="no-decoration">
                <span>4</span>
            </a>
        </div>
    </div>

    <div class="content m-t-50">
        <p>Your elexyr website is ready !</p>
    </div>

    <a class="start" href="<?php echo $this->getRoutePath('home', [], 'app') ?>">
        ENJOY MY AWESOME APPLICATION
    </a>
</div>