<div class="step-one">
    <div class="intro">
        <img width="50" src="<?php echo $this->getImgSrc('buttons/button-elexyr.svg','app') ?>"  alt="">

        <h1>Welcome to Elexyr</h1>
        <h3>the brand new CMS</h3>
    </div>

    <div id="elexyr-timeline">
        <div class="timeline-item active">
            <a href="<?php echo $this->getRoutePath('step_one') ?>" class="no-decoration">
                <span>1</span>
            </a>
        </div>
        <div class="timeline-item">
            <a href="<?php echo $this->getRoutePath('step_two') ?>" class="no-decoration">
                <span>2</span>
            </a>
        </div>
        <div class="timeline-item">
            <span>3</span>
        </div>
        <div class="timeline-item">
            <span>4</span>
        </div>
    </div>
    <a class="start" href="<?php echo $this->getRoutePath('step_two') ?>">
        create my website
    </a>
</div>