<?php if ($formErrors): ?>
    <div class="form-errors">
        <div class="close">
            <span>X</span>
        </div>
        <div>
            <?php foreach ($formErrors as $error): ?>
                <?php echo $error; ?><br>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<div class="step-one">
    <div class="intro">
        <img width="50" src="<?php echo $this->getImgSrc('buttons/button-elexyr.svg','app') ?>"  alt="">

        <h1>Welcome to Elexyr</h1>
        <h3>the brand new CMS</h3>
    </div>
    <div id="elexyr-timeline">
        <div class="timeline-item active">
            <a href="<?php echo $this->getRoutePath('step_one') ?>" class="no-decoration">
                <span>1</span>
            </a>
        </div>
        <div class="timeline-item active">
            <a href="<?php echo $this->getRoutePath('step_two') ?>" class="no-decoration">
                <span>2</span>
            </a>
        </div>
        <div class="timeline-item active">
            <a href="<?php echo $this->getRoutePath('step_three') ?>" class="no-decoration">
                <span>3</span>
            </a>
        </div>
        <div class="timeline-item">
            <span>4</span>
        </div>
    </div>

    <div class="content">
        <h3>Create your first administrator account</h3>
        <form <?php echo $form->initFormtag() ?>>
            <div class="settings-logo m-t-40">
                <label for="user_image">
                    <p>User image :</p>

                    <span class="button-add"></span>
                    <input type="file" class="input-img" name="user_image">
                    <img class="previewInput m-l-15" src="<?php echo $this->getImgSrc('global/user.png', 'app') ?>" alt="image preview" width="70">
                </label>
            </div>
            <div class="m-t-30 m-b-40">
                <label for="pseudo">
                    <p>User pseudo :</p>
                    <input type="text" name="pseudo" placeholder="johndoe" <?php echo $form->getValue('pseudo') ?>>
                </label>
            </div>
            <div class="m-t-30 m-b-40">
                <label for="firstname">
                    <p>User first name :</p>
                    <input type="text" name="firstname" placeholder="John" <?php echo $form->getValue('firstname') ?>>
                </label>
            </div>
            <div class="m-t-30 m-b-40">
                <label for="lastname">
                    <p>User last name :</p>
                    <input type="text" name="lastname" placeholder="Doe" <?php echo $form->getValue('lastname') ?>>
                </label>
            </div>
            <div class="m-t-30 m-b-40">
                <label for="email">
                    <p>User email :</p>
                    <input type="text" name="email" placeholder="john.doe@domain.com" <?php echo $form->getValue('email') ?>>
                </label>
            </div>
            <div class="m-t-30 m-b-40">
                <label for="user_password">
                    <p>User password :</p>
                    <input type="password" name="user_password" <?php echo $form->getValue('user_password') ?>>
                </label>
            </div>

            <button class="start">
                CREATE MY ACCOUNT
            </button>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        Checkbox.imgInput('.settings-logo .button-add', '.settings-logo .previewInput');
        Tools.closeFormError('.close', '.form-errors');
    })
</script>