<?php if ($formErrors): ?>
    <div class="form-errors">
        <div class="close">
            <span>X</span>
        </div>
        <div>
            <?php foreach ($formErrors as $error): ?>
                <?php echo $error; ?><br>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<div class="step-one">
    <div class="intro">
        <img width="50" src="<?php echo $this->getImgSrc('buttons/button-elexyr.svg','app') ?>"  alt="">

        <h1>Welcome to Elexyr</h1>
        <h3>the brand new CMS</h3>
    </div>
    <div id="elexyr-timeline">
        <div class="timeline-item active">
            <a href="<?php echo $this->getRoutePath('step_one') ?>" class="no-decoration">
                <span>1</span>
            </a>
        </div>
        <div class="timeline-item active">
            <a href="<?php echo $this->getRoutePath('step_two') ?>" class="no-decoration">
                <span>2</span>
            </a>
        </div>
        <div class="timeline-item">
            <span>3</span>
        </div>
        <div class="timeline-item">
            <span>4</span>
        </div>
    </div>

    <div class="content">
        <h3>Configure your website</h3>
        <form <?php echo $form->initFormtag() ?>>
            <div class="settings-logo m-t-40">
                <label for="website_logo">
                    <p>Website logo :</p>

                    <span class="button-add"></span>
                    <input type="file" class="input-img" name="website_logo">
                    <?php if (!empty($websiteImageSetting->getValue())): ?>
                        <img class="previewInput m-l-15" src="<?php echo $websiteImageSetting->getMediaPath('value') ?>" alt="image preview" width="70">
                    <?php else: ?>
                        <img class="previewInput m-l-15" src="<?php echo $this->getImgSrc('dev/imgpreview.png', 'app') ?>" alt="image preview" width="70">
                    <?php endif; ?>
                </label>
            </div>
            <div class="m-t-30 m-b-40">
                <label for="website_name">
                    <p>Website name :</p>
                    <input type="text" name="website_name" placeholder="my wonderful website" <?php echo $form->getValue('website_name') ?>>
                </label>
            </div>

            <button class="start">
                VALIDATE WEBSITE
            </button>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        Checkbox.imgInput('.settings-logo .button-add', '.settings-logo .previewInput');
        Tools.closeFormError('.close', '.form-errors');
    })
</script>