<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="<?php echo $metaDescriptionContent ?>" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><?php echo $websiteName ?> | <?php echo $currentPageName; ?></title>
    <!-- css -->
    <?php echo $this->getAsset('zion.css','css','lib','app') ?>
    <?php echo $this->getAsset('front.min.css','css','frontend') ?>
    <!-- jquery -->
    <?php echo $this->getAsset('jquery.js','js','app') ?>
</head>

<?php $userHelper = Tools::get('user/user') ?>
<?php $currentUserId = $userHelper->getCurrentUserId(); ?>

<body <?php if ($currentUserId !== false): ?> style="margin-top: 34px; background-color: #23282d;"<?php endif; ?>>
    <header>
        <?php $this->useTemplate('header', 'frontend') ?>
    </header>

    <main>
        <?php $this->useMainTemplate() ?>
    </main>

    <?php if ($currentUserId !== false): ?>
        <?php $currentUser = $userHelper->getCurrentUser(); ?>

        <div class="debug-bar">
            <?php $this->updateControllerParam('currentUser', $currentUser); ?>
            <?php $this->useTemplate('toolbar', 'frontend') ?>
        </div>
    <?php endif; ?>
</body>
</html>