<?php if (!empty($formErrors)): ?>
    <div class="form-errors">
        <div>
            <?php foreach ($formErrors as $error): ?>
                <p><?php echo $error; ?></p>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<form <?php echo $form->initFormTag($formParams) ?>>
<div id="content-cta">
    <a href="<?php echo $this->getRoutePath('content_add', ['page_id' => $currentPageItem->getEntityId(), 'id' => $currentContentId], 'page'); ?>" class="button-previous"></a>
    <button class="button-save"></button>
    <div class="breadcrumb">
        <a href="<?php echo $this->getRoutePath('page_list', [], 'page'); ?>">pages</a>
        <a href="<?php echo $this->getRoutePath('pages_custom', ['id' => $currentPageItem->getEntityId()], 'page'); ?>"><?php echo $currentPageItem->getName(); ?></a>
        <a href="<?php echo $this->getRoutePath('content_add', ['page_id' => $currentPageItem->getEntityId(), 'id' => $currentContentId], 'page'); ?>">content selector</a>
    </div>
    <div class="breadcrumb">
        <div class="forward">
            <span></span>
            <a href="<?php echo $frontendUrl; ?>" target="blank">View page</a>
        </div>
    </div>
</div>

<div id="content-form">
    <div class="grid">
        <div class="col">
            <div class="content-group">
                <div class="content-title">
                    <h3>Content</h3>
                </div>
                <div class="content-element">
                    <div class="content-title">
                        <p>Blog title</p>
                    </div>
                    <div class="content-param">
                        <input type="text" name="title" placeholder="title" <?php echo $form->getValue('title', false); ?>>
                    </div>
                </div>
                <div class="content-element">
                    <div class="content-title">
                        <p>Description</p>
                    </div>
                    <div class="content-param">
                        <div id="textarea_content" style="display: none;">
                            <?php echo html_entity_decode($form->getFieldValue('description')); ?>
                        </div>
                        <textarea name="description" id="description" cols="30" rows="10"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="content-group">
                <div class="content-title">
                    <h3>Style</h3>
                </div>
                <div class="content-element">
                    <div class="content-title">
                        <p>Articles by line - Desktop display</p>
                    </div>
                    <div class="content-param">
                        <input name="desktop_grid_columns" type="number" placeholder="4" <?php echo $form->getValue('desktop_grid_columns'); ?>>
                    </div>
                </div>
                <div class="content-element">
                    <div class="content-title">
                        <p>Articles by line - Tablet display</p>
                    </div>
                    <div class="content-param">
                        <input name="tablet_grid_columns" type="number" placeholder="2" <?php echo $form->getValue('tablet_grid_columns'); ?>>
                    </div>
                </div>
                <div class="content-element">
                    <div class="content-title">
                        <p>Articles by line - Mobile display</p>
                    </div>
                    <div class="content-param">
                        <input name="mobile_grid_columns" type="number" placeholder="1" <?php echo $form->getValue('mobile_grid_columns'); ?>>
                    </div>
                </div>
                <div class="content-element">
                    <div class="content-title">
                        <p>Title color</p>
                    </div>
                    <div class="content-param">
                        <div class="color-preview">
                            <input name="title_color" type="text" placeholder="#000000" <?php echo $form->getValue('title_color'); ?>>
                            <div style="background: <?php echo $form->getFieldValue('title_color'); ?>"></div>
                        </div>
                    </div>
                </div>
                <div class="content-element">
                    <div class="content-title">
                        <p>Title font size</p>
                    </div>
                    <div class="content-param">
                        <input name="title_font_size" type="number" placeholder="14" <?php echo $form->getValue('title_font_size'); ?>>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

<script>
    jQuery(document).ready(function () {
        Input.toggleContent('.content-group .content-title', '.content-param', '.content-element');
        Input.triggerSave('#content-cta .button-save');
        Input.colorPreview('.color-preview');

        var textarea = jQuery('#textarea_content').html();
        CKEDITOR.replace('description', {
            extraAllowedContent: 'style;*[id,rel](*){*}',
            on: {
                instanceReady: function() {
                    // this is current editor instance
                    this.insertHtml( textarea );
                }
            }
        });
    })
</script>