<div class="step-one">
    <div class="intro">
        <img width="50" src="<?php echo $this->getImgSrc('buttons/button-elexyr.svg','app') ?>"  alt="">

        <h1>Welcome to Elexyr</h1>
        <h3>the brand new CMS</h3>
    </div>

    <div id="elexyr-timeline">
        <div class="timeline-item active">
            <a href="<?php echo $this->getRoutePath('step_one') ?>" class="no-decoration">
                <span>1</span>
            </a>
        </div>
        <div class="timeline-item active">
            <a href="<?php echo $this->getRoutePath('step_two') ?>" class="no-decoration">
                <span>2</span>
            </a>
        </div>
        <div class="timeline-item active">
            <a href="<?php echo $this->getRoutePath('step_three_exists') ?>" class="no-decoration">
                <span>3</span>
            </a>
        </div>
        <div class="timeline-item">
            <a href="<?php echo $this->getRoutePath('step_four') ?>" class="no-decoration">
                <span>4</span>
            </a>
        </div>
    </div>

    <div class="content m-t-50">
        <p>Congratulations <?php echo $currentUser->getFirstname() ?> <?php echo $currentUser->getLastname() ?> !</p>
        <div class="settings-logo m-25">
            <img class="previewInput" src="<?php echo $userMainImagePath ?>" alt="profil picture">
        </div>
        <p>Your administrator account has already been created !</p>
    </div>

    <a class="start" href="<?php echo $this->getRoutePath('step_four') ?>">
        FINISH MY WEBSITE CONFIGURATION
    </a>
</div>