<div class="home">
    <div class="breadcrumb cta-color">
        <p>Hi <?php echo $currentUser->getFirstname() ?> !</p>
    </div>
    <?php if ($isNight === true): ?>
        <div class="breadcrumb">
            <p>Are you still working ? It is not time to sleep ?</p>
        </div>
        <img src="<?php echo $this->getImgSrc('content/welcome-night.png', 'app') ?>">
    <?php else: ?>
        <div class="breadcrumb">
            <p>I hope you are fine today, good luck for your work :)</p>
        </div>
        <img src="<?php echo $this->getImgSrc('content/welcome-day.png', 'app') ?>">
    <?php endif; ?>
</div>

<div class="home-box">
    <div class="grid">
        <div class="col-8">
            <h3>Stats</h3>
            <div id="home-stats">
                <div class="grid-2">
                    <div class="col">
                        <a href="<?php echo $this->getRoutePath('user_list', [], 'user') ?>" class="no-decoration">
                            <div class="stats-item">
                                <p>Users</p>
                                <h2><?php echo $userNumber ?></h2>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="<?php echo $this->getRoutePath('media_list', [], 'app') ?>" class="no-decoration">
                            <div class="stats-item">
                                <p>Media</p>
                                <h2><?php echo $mediaNumber ?></h2>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="<?php echo $this->getRoutePath('page_list', [], 'page') ?>" class="no-decoration">
                            <div class="stats-item">
                                <p>Pages</p>
                                <h2><?php echo $pageNumber ?></h2>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="<?php echo $this->getRoutePath('plugin_list', [], 'plugin') ?>" class="no-decoration">
                            <div class="stats-item">
                                <p>Plugins</p>
                                <h2><?php echo $pluginNumber ?></h2>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid">
                    <div class="col">
                        <div id="curve_chart" style="width: 100%; height: 500px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h3>Last edited pages</h3>
            <?php foreach ($recentlyEditedPages as $page): ?>
                <div id="newsfeed">
                    <div class="newsfeed-item">
                        <div class="feed-title">
                            <h4>
                                <a target="blank" href="<?php echo $frontendHelper->getFrontendUrl($page->getUrlKey()) ?>" class="no-decoration cta-color">
                                    <?php echo $page->getName() ?>
                                </a>
                            </h4>
                            <a target="blank" href="<?php echo $frontendHelper->getFrontendUrl($page->getUrlKey()) ?>" class="no-decoration">
                                <?php echo $page->getUrlKey() ?>
                            </a>
                        </div>
                        <div class="newsfeed-img">
                            <?php $backendPageUrl = $this->getRoutePath('pages_custom', ['id' => $page->getEntityId()], 'page') ?>
                            <a href="<?php echo $backendPageUrl ?>" class="newsfeed-icon">
                                <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41 41"><title>icon-infos</title><g id="Groupe_210" data-name="Groupe 210"><path id="Tracé_64" data-name="Tracé 64" d="M20.5,2.87A17.63,17.63,0,1,1,2.87,20.5,17.63,17.63,0,0,1,20.5,2.87h0M20.5,0A20.5,20.5,0,1,0,41,20.5,20.5,20.5,0,0,0,20.5,0Z" transform="translate(0 0)" style="fill:#e5e5e5"/><path id="Tracé_65" data-name="Tracé 65" d="M22.86,23.48c0,1.64,0,3.28,0,4.92a2.32,2.32,0,0,1-2.77,2.31,3.23,3.23,0,0,1-.62-.16,1.91,1.91,0,0,1-1.3-1.78V18.59a2.22,2.22,0,0,1,1.5-2.21,2.39,2.39,0,0,1,2.77.79,2,2,0,0,1,.41,1.26v5.06h0Z" transform="translate(0 0)" style="fill:#e5e5e5"/><path id="Tracé_66" data-name="Tracé 66" d="M23,12.78a2.51,2.51,0,1,1-2.5-2.53h0A2.51,2.51,0,0,1,23,12.78Z" transform="translate(0 0)" style="fill:#e5e5e5"/></g></svg>
                            </a>
                            <a href="<?php echo $backendPageUrl ?>">
                                <?php if (!empty($page->getImage())): ?>
                                    <img class="img-circle" src="<?php echo $page->getMediaPath('image') ?>" alt="<?php echo $page->getName() ?>">
                                <?php else: ?>
                                    <img class="img-circle" src="<?php echo $this->getImgSrc('dev/page-preview.jpg','app') ?>" alt="<?php echo $page->getName() ?>">
                                <?php endif; ?>
                            </a>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Role', 'Number of users'],
            <?php foreach ($roleCounts as $roleCode => $roleCount): ?>
            ['<?php echo $roleCode ?>', <?php echo $roleCount ?>],
            <?php endforeach; ?>
        ]);

        var options = {
            title: 'Registered users',
            is3D: false,
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('curve_chart'));
        chart.draw(data, options);
    }
</script>