<?php if (!empty($formErrors)): ?>
    <div class="form-errors">
        <div>
            <?php foreach ($formErrors as $error): ?>
                <p><?php echo $error; ?></p>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<div id="content-cta">
    <span class="button-add"></span>
    <button class="button-save" style="display: none;"></button>

    <form <?php echo $creationForm->initFormTag() ?>>
        <input type="text" class="input-text" name="name" placeholder="Create a navigation" <?php echo $creationForm->getValue('name') ?> >
        <input type="submit" class="input-submit" name="cta-submit">
    </form>

    <?php if ($previousPage != false): ?>
        <div class="breadcrumb pagination">
            <a href="<?php echo $this->getRoutePath('navigation_list_page', ['page_number' => $previousPage], 'app') ?>">< Previous page</a>
        </div>
    <?php endif; ?>
    <?php if ($nextPage != false): ?>
        <div class="breadcrumb pagination">
            <a href="<?php echo $this->getRoutePath('navigation_list_page', ['page_number' => $nextPage], 'app') ?>">Next page ></a>
        </div>
    <?php endif; ?>
</div>

<div class="navigation-box">
    <?php foreach ($navigationCollection as $navigation): ?>
    <div class="grid">
        <div class="col-8">
            <a href="<?php echo $this->getRoutePath('navigation_edit', ["id" => $navigation->getEntityId()]); ?>">
                <div class="navigation-item">
                    <h3><?php echo $navigation->getName(); ?></h3>
                </div>
            </a>
        </div>
        <div class="col navigation-main-cta v-align-center">
            <a href="<?php echo $this->getRoutePath('navigation_update_status', ["id" => $navigation->getEntityId()]); ?>">
                <span class="button-is-default <?php if ($navigation->getIsDefault() == 1): ?>active<?php endif; ?>"></span>
            </a>
            <a href="<?php echo $this->getRoutePath('navigation_edit', ["id" => $navigation->getEntityId()]); ?>" >
                <span class="button-paint"></span>
            </a>
            <a data-href="<?php echo $this->getRoutePath('navigation_delete', ["id" => $navigation->getEntityId()] ) ?>" >
                <span class="button-delete"></span>
            </a>
        </div>
    </div>
    <?php endforeach; ?>
</div>

<div class="modal">
    <h2 class="txtCenter">WARNING</h2>
    <br>
    <p>Delete this navigation ?</p>
    <div class="modal-cta">
        <span class="modal-cancel">cancel</span>
        <a href=""><span class="modal-delete">delete</span></a>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        Modal.deleteModal(".button-delete",".modal");
        Modal.sendHrefToModal('.navigation-main-cta .button-delete','.modal .modal-delete')
    })
</script>


