<div class="home">
    <div class="breadcrumb">
        <p>Search results for : <span class="cta-color"><?php echo $searchQuery ?></span></p>
    </div>
</div>

<div class="home-box">
    <h3 class="m-t-40">All results</h3>
    <div id="home-stats" class="m-t-20">
        <div class="grid-4">
            <div class="col">
                <a href="<?php echo $this->getRoutePath('user_list', [], 'user') ?>" class="no-decoration">
                    <div class="stats-item">
                        <p><?php echo $nbUsers ?> found</p>
                        <h2>Users</h2>
                    </div>
                </a>

                <?php foreach($userResults as $user): ?>
                    <a href="<?php echo $this->getRoutePath('user_edit', ['user_id' => $user->getEntityId()], 'user') ?>" class="no-decoration">
                        <div class="stats-item">
                            <div>
                                <p><?php echo $user->getFirstname() ?> <?php echo $user->getLastname() ?></p>
                                <p class="cta-color"><?php echo $userRolesHelper->getRoleLabel($user->getRole()) ?></p>
                            </div>
                            <img class="img-circle" src="<?php echo $userImageHelper->getUserMainImagePath($user->getEntityId()) ?>" alt="user profile image">
                        </div>
                    </a>
                <?php endforeach; ?>
            </div>
            <div class="col">
                <a href="<?php echo $this->getRoutePath('media_list', [], 'app') ?>" class="no-decoration">
                    <div class="stats-item">
                        <p><?php echo $nbMedias ?> found</p>
                        <h2>Media</h2>
                    </div>
                </a>

                <?php if (isset($mediaResults['image'])  && count($mediaResults['image']) > 0): ?>
                    <div class="stats-item">
                        <p class="red">Images</p>
                        <span class="button-search-img"></span>
                    </div>
                    <?php foreach($mediaResults['image'] as $media): ?>
                        <a href="<?php echo $this->getRoutePath('media_image_edit', ['image_id' => $media->getEntityId()], 'app') ?>" class="no-decoration">
                            <div class="stats-item">
                                <p><?php echo $media->getLabel() ?></p>
                                <img class="img-circle" src="<?php echo $media->getMediaPath('thumbnail') ?>" alt="<?php echo $media->getAltText() ?>">
                            </div>
                        </a>
                    <?php endforeach; ?>
                <?php endif; ?>

                <?php if (isset($mediaResults['pictogram']) && count($mediaResults['pictogram']) > 0): ?>
                    <div class="stats-item">
                        <p class="red">Pictograms</p>
                        <span class="button-search-icon"></span>
                    </div>
                    <?php foreach($mediaResults['pictogram'] as $media): ?>
                        <a href="<?php echo $this->getRoutePath('media_pictogram_edit', ['pictogram_id' => $media->getEntityId()], 'app') ?>" class="no-decoration">
                            <div class="stats-item">
                                <p><?php echo $media->getLabel() ?></p>
                                <img class="img-circle" src="<?php echo $media->getMediaPath('pictogram') ?>" alt="<?php echo $media->getAltText() ?>">
                            </div>
                        </a>
                    <?php endforeach; ?>
                <?php endif; ?>

                <?php if (isset($mediaResults['video']) && count($mediaResults['video']) > 0): ?>
                    <div class="stats-item">
                        <p class="red">Videos</p>
                        <span class="button-search-video"></span>
                    </div>
                    <?php foreach($mediaResults['video'] as $media): ?>
                        <a href="<?php echo $this->getRoutePath('media_video_edit', ['video_id' => $media->getEntityId()], 'app') ?>" class="no-decoration">
                            <div class="stats-item">
                                <p><?php echo $media->getLabel() ?></p>
                                <span class="video-preview"></span>
                            </div>
                        </a>
                    <?php endforeach; ?>
                <?php endif; ?>

                <?php if (isset($mediaResults['pdf']) && count($mediaResults['pdf']) > 0): ?>
                    <div class="stats-item">
                        <p class="red">Pdf</p>
                        <span class="button-search-pdf"></span>
                    </div>
                    <?php foreach($mediaResults['pdf'] as $media): ?>
                        <a href="<?php echo $this->getRoutePath('media_pdf_edit', ['pdf_id' => $media->getEntityId()], 'app') ?>" class="no-decoration">
                            <div class="stats-item">
                                <p><?php echo $media->getLabel() ?></p>
                                <span class="pdf-preview"></span>
                            </div>
                        </a>
                    <?php endforeach; ?>
                <?php endif; ?>
            </div>
            <div class="col">
                <a href="<?php echo $this->getRoutePath('page_list', [], 'page') ?>" class="no-decoration">
                    <div class="stats-item">
                        <p><?php echo $nbPages ?> found</p>
                        <h2>Pages</h2>
                    </div>
                </a>

                <?php foreach($pageResults as $page): ?>
                    <a href="<?php echo $this->getRoutePath('pages_custom', ['id' => $page->getEntityId()], 'page') ?>" class="no-decoration">
                        <div class="stats-item">
                            <div>
                                <p><?php echo $page->getName() ?></p>
                                <p class="blue"><?php echo $page->getUrlKey() ?></p>
                            </div>
                            <?php if (!empty($page->getImage())): ?>
                                <img class="img-circle" src="<?php echo $page->getMediaPath('image') ?>" alt="<?php echo $page->getName() ?>">
                            <?php else: ?>
                                <img class="img-circle" src="<?php echo $this->getImgSrc('dev/page-preview.jpg','app') ?>" alt="<?php echo $page->getName() ?>">
                            <?php endif; ?>
                        </div>
                    </a>
                <?php endforeach; ?>
            </div>
            <div class="col">
                <a href="<?php echo $this->getRoutePath('plugin_list', [], 'plugin') ?>" class="no-decoration">
                    <div class="stats-item">
                        <p><?php echo $nbPlugins ?> found</p>
                        <h2>Plugins</h2>
                    </div>
                </a>

                <?php foreach($pluginResults as $plugin): ?>
                    <a href="<?php echo $this->getRoutePath($plugin['route_plugin_edit'], [], $plugin['code']); ?>" class="no-decoration">
                        <div class="stats-item">
                            <?php if (isset($plugin['name'])): ?>
                                <p><?php echo $plugin['name'] ?></p>
                            <?php endif; ?>
                            <img src="<?php if (isset($plugin['icon']) && isset($plugin['icon_bundle'])) { echo $this->getImgSrc($plugin['icon'], $plugin['icon_bundle']); } ?>"  alt="">
                        </div>
                    </a>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
</div>