<?php if (!empty($formErrors)): ?>
    <div class="form-errors">
        <div>
            <?php foreach ($formErrors as $error): ?>
                <p><?php echo $error; ?></p>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<div class="settings-box">
    <form <?php echo $updateForm->initFormTag() ?>>
        <div id="content-cta">
            <a href="<?php echo $this->getRoutePath('home'); ?>"><span class="button-previous"></span></a>
            <button class="button-save"></button>
            <input type="submit" style="display: none">
        </div>

        <div class="m-t-40">
            <?php foreach ($settings as $settingCode => $setting): ?>
                <?php if (isset($setting['label']) && isset($setting['type']) && $setting['type'] == 'image'): ?>
                    <div class="settings-logo v-align-center">
                        <p><?php echo $setting['label'] ?></p>
                        <span class="button-add"></span>
                        <input type="file" class="input-img" name="<?php echo $settingCode ?>">
                        <?php $settingEntity = Entity::get('Setting')->loadBy('code', $settingCode); ?>
                        <?php if (!empty($settingEntity->getValue())): ?>
                            <img class="previewInput" src="<?php echo $settingEntity->getMediaPath('value') ?>" alt="image preview" width="100">
                        <?php else: ?>
                            <img class="previewInput" src="<?php echo $this->getImgSrc('dev/imgpreview.png') ?>" alt="image preview" width="100">
                        <?php endif; ?>
                    </div><br>
                <?php endif; ?>
                <?php if (isset($setting['label']) && ($setting['type']) && $setting['type'] == 'text'): ?>
                    <div class="settings-input">
                        <input type="text" name="<?php echo $settingCode ?>" placeholder="<?php echo $setting['label'] ?>" <?php echo $updateForm->getValue($settingCode) ?>>
                    </div>
                <?php endif; ?>
                <br>
            <?php endforeach; ?>
        </div>
    </form>
</div>