<?php if (!empty($formErrors)): ?>
    <div class="form-errors">
        <div>
            <?php foreach ($formErrors as $error): ?>
                <p><?php echo $error; ?></p>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<form <?php echo $updateForm->initFormTag(['section_id' => $currentSectionId]) ?>>
    <div id="content-cta">
        <a href="<?php echo $this->getRoutePath( 'pages_custom', ['id' => $currentPageId] ); ?>"><span class="button-previous"></span></a>
        <button class="button-save"></button>
        <input type="submit">
        <a href="<?php echo $this->getRoutePath( 'pages_custom', ['id' => $currentPageId] ); ?>"><span class="button-elexyr active"></span></a>
        <div class="breadcrumb">
            <a href="<?php echo $this->getRoutePath( 'pages_custom', ['id' => $currentPageId] ); ?>"><?php echo $currentPage->getName(); ?></a>
        </div>
        <div class="breadcrumb">
            <div class="forward">
                <span></span>
                <a href="<?php echo $frontendUrl; ?>" target="blank">View page</a>
            </div>
        </div>
    </div>

    <div class="settings-box">
        <div class="settings-logo v-align-center">
            <p>Section background image</p>
            <span class="button-add"></span>
            <input type="file" class="input-img" name="background_image">
            <?php if (!empty($currentSection->getBackgroundImage())): ?>
                <div class="user-img">
                    <img class="previewInput" src="<?php echo $currentSection->getMediaPath('background_image') ?>" alt="">
                </div>
            <?php else: ?>
                <img class="previewInput" src="<?php echo $this->getImgSrc('dev/imgpreview.png', 'app') ?>" alt="select your section background image" width="100">
            <?php endif; ?>
        </div>
    </div>

    <div id="content-form" class="m-t-30">
        <div class="grid">
            <div class="col">
                <div class="content-group">
                    <div class="content-title">
                        <h3>Section disposition</h3>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>Column padding</p>
                        </div>
                        <div class="content-param">
                            <input name="items_padding" type="text" <?php echo $updateForm->getValue('items_padding');?>>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>Padding top</p>
                        </div>
                        <div class="content-param">
                            <input name="margin_top" type="text" <?php echo $updateForm->getValue('margin_top');?>>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>Padding bottom</p>
                        </div>
                        <div class="content-param">
                            <input name="margin_bottom" type="text" <?php echo $updateForm->getValue('margin_bottom');?>>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="content-group">
                    <div class="content-title">
                        <h3>Background</h3>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>Background color</p>
                        </div>
                        <div class="content-param">
                            <div class="color-preview">
                                <input name="background_color" type="text" <?php echo $updateForm->getValue('background_color');?>>
                                <div style=" background: <?php echo $updateForm->getFieldValue('background_color');?> "></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="content-element">
                        <div class="content-title-no-toggle">
                            <p>Use the background image</p>
                            <div class="switch-container" >
                                <input name="use_background_image" type="checkbox" class="switch" value="1" <?php echo $updateForm->getValue('use_background_image');?>>
                                <label for="switch">Toggle</label>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="content-group">
                    <div class="content-title">
                        <h3>Responsive</h3>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>Tablet column</p>
                        </div>
                        <div class="content-param">
                            <input name="tablet_column" type="number" <?php echo $updateForm->getValue('tablet_column');?>>
                        </div>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>Mobile column</p>
                        </div>
                        <div class="content-param">
                            <input name="mobile_column" type="number" <?php echo $updateForm->getValue('mobile_column');?>>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    jQuery(document).ready(function () {
        Input.toggleContent('.content-group .content-title', '.content-param', '.content-element');
        Input.triggerSave('#content-cta .button-save');
        Input.colorPreview('.color-preview');
    })
</script>
