<div id="content-cta">
    <div class="breadcrumb cta-color">
        1 theme available
    </div>
</div>

<div class="themes-box">
    <div class="grid-3_md-2_sm-1">
        <div class="col">
            <div class="themes-content">
                <img src="<?php echo $this->getImgSrc('dev/theme-preview-1.jpg', 'app'); ?>" alt="">
                <div class="themes-infos">
                    <h3 class="m-b-10">Elexyr default</h3>
                    <p class="txtCenter">1.0</p>
                </div>
                <div class="themes-cta">
                    <span class="button-delete theme-delete"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal">
    <h2 class="txtCenter">WARNING</h2>
    <br>
    <p>You cannot delete the default theme !</p>
    <div class="modal-cta">
        <span class="modal-cancel">cancel</span>
        <span class="modal-cancel">back</span>
    </div>
</div>

