<?php if ($formErrors): ?>
    <div class="form-errors">
            <div class="close">
                <span>X</span>
            </div>
            <div>
                <?php foreach ($formErrors as $error): ?>
                    <?php echo $error; ?><br>
                <?php endforeach; ?>
            </div>
    </div>
<?php endif; ?>

<div id="login">
    <div class="login-box">
        <img src="<?php echo $this->getImgSrc('global/elexyr.svg', 'app') ?>"  alt="">
        <p>Choose a new password for your account</p>

        <form <?php echo $redefineForm->initFormTag(['user_id' => $userId, 'reset_token' => $userToken]) ?>>
            <input type="password" placeholder="password" name="user_password"><br>
            <input type="password" placeholder="password confirmation" name="password_confirmation"><br>

            <input type="submit" value="Submit new password"><br>
        </form>
    </div>
</div>

<?php echo $this->getAsset('tools.js','js','app') ?>
<script>
    jQuery(document).ready(function () {
        Tools.closeFormError('.close', '.form-errors');
    });
</script>