<?php if ($formErrors): ?>
    <div class="form-errors">
            <div class="close">
                <span>X</span>
            </div>
            <div>
                <?php foreach ($formErrors as $error): ?>
                    <?php echo $error; ?><br>
                <?php endforeach; ?>
            </div>
    </div>
<?php endif; ?>
<?php if ($formSuccess): ?>
    <div class="form-success">
        <div class="close">
            <span>X</span>
        </div>
        <div>
            <?php foreach ($formSuccess as $message): ?>
                <?php echo $message; ?><br>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<div id="login">
    <div class="login-box">
        <img src="<?php echo $this->getImgSrc('global/elexyr.svg', 'app') ?>"  alt="">
        <p>Please enter the email address associated to your Elexyr account</p>

        <form <?php echo $resetForm->initFormTag() ?>>
            <input type="email" placeholder="email" name="email" <?php echo $resetForm->getValue('email'); ?>><br>

            <input type="submit" value="Send email reset request"><br>
        </form>
    </div>
</div>

<?php echo $this->getAsset('tools.js','js','app') ?>
<script>
    jQuery(document).ready(function () {
        Tools.closeFormError('.close', '.form-errors');
        Tools.closeFormError('.close', '.form-success');
    });
</script>