<?php if (!empty($formErrors)): ?>
    <div class="form-errors">
        <div>
            <?php foreach ($formErrors as $error): ?>
                <p><?php echo $error; ?></p>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<div class="grid-2">
    <div class="settings-box col-5">
        <form <?php echo $form->initFormTag($formActionParams) ?>>
            <div id="content-cta">
                <a href="<?php echo $this->getRoutePath('media_list'); ?>"><span class="button-previous"></span></a>
                <button class="button-save"></button>
                <input type="submit" style="display: none">
                <div class="breadcrumb">
                    <a href="<?php echo $this->getRoutePath('media_list'); ?>">All medias</a>
                </div>
            </div>
            <div class="settings-logo v-align-center">
                <p>Video file</p>
                <span class="button-add"></span>
                <input type="file" class="input-img" name="video">
                <img class="img-circle" src="<?php echo $this->getImgSrc('dev/videopreview.svg', 'app') ?>" alt="" width="100">
                <?php if (isset($videoId)): ?>
                    <a href="<?php echo $videoObject->getMediaPath('video') ?>" download="<?php echo $videoObject->getLabel() ?>">
                        <span class="button-download"></span>
                    </a>
                <?php endif; ?>
            </div>
            <br>

            <div class="settings-input m-t-40">
                <input type="text" name="label" placeholder="Video label" <?php echo $form->getValue('label'); ?>><br>
                <input type="text" name="alt_text" placeholder="Alternative text" <?php echo $form->getValue('alt_text'); ?>><br>
            </div>
        </form>
    </div>
    <div class="col-7 m-t-80">
        <?php if (isset($videoId)): ?>
            <video controls src="<?php echo $videoObject->getMediaPath('video') ?>"><?php echo $videoObject->getAltText() ?></video>
        <?php endif; ?>
    </div>
</div>
