<?php $mediaCollection = Collection::get('MediaImage')->all(); ?>

<div class="media-box media-collection">
    <div class="grid-4_md-2_sm-1 preview-box">
        <?php foreach ($mediaCollection as $media): ?>
            <div class="col media-img-value <?php if ($currentMediaImage == $media->getEntityId()): ?>active<?php endif; ?>" data-value-id="<?php echo $media->getEntityId() ?>">
                <img src="<?php echo $media->getMediaPath('thumbnail') ?>" alt="<?php echo $media->getAltText() ?>">
            </div>
        <?php endforeach; ?>
    </div>
</div>
