<?php if (!empty($formErrors)): ?>
    <div class="form-errors">
        <div>
            <?php foreach ($formErrors as $error): ?>
                <p><?php echo $error; ?></p>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<div class="settings-box">
    <form <?php echo $form->initFormTag($formActionParams) ?>>
        <div id="content-cta">
            <a href="<?php echo $this->getRoutePath('media_list'); ?>"><span class="button-previous"></span></a>
            <button class="button-save"></button>
            <input type="submit" style="display: none">
            <div class="breadcrumb">
                <a href="<?php echo $this->getRoutePath('media_list'); ?>">All medias</a>
            </div>
        </div>

        <div class="grid-3 grid-spaceAround">
            <div>
                <div class="settings-logo v-align-center">
                    <p>Thumbnail image</p>
                    <span class="button-add"></span>
                    <input type="file" class="input-img" name="thumbnail">
                    <?php if (isset($imageId)): ?>
                        <img class="previewInput" src="<?php echo $imageObject->getMediaPath('thumbnail') ?>" alt="<?php echo $imageObject->getAltText() ?>" width="100">
                    <?php else: ?>
                        <img class="previewInput" src="<?php echo $this->getImgSrc('dev/imgpreview.png', 'app') ?>" alt="" width="100">
                    <?php endif; ?>
                </div>
            </div>
            <div>
                <div class="settings-logo v-align-center">
                    <p>Main image</p>
                    <span class="button-add"></span>
                    <input type="file" class="input-img" name="image">
                    <?php if (isset($imageId)): ?>
                        <img class="previewInput" src="<?php echo $imageObject->getMediaPath('image') ?>" alt="<?php echo $imageObject->getAltText() ?>" width="100">
                    <?php else: ?>
                        <img class="previewInput" src="<?php echo $this->getImgSrc('dev/imgpreview.png', 'app') ?>" alt="" width="100">
                    <?php endif; ?>
                </div>
            </div>
            <div>
                <div class="settings-logo v-align-center">
                    <p>Large image</p>
                    <span class="button-add"></span>
                    <input type="file" class="input-img" name="large_image">
                    <?php if (isset($imageId)): ?>
                        <img class="previewInput" src="<?php echo $imageObject->getMediaPath('large_image') ?>" alt="<?php echo $imageObject->getAltText() ?>" width="100">
                    <?php else: ?>
                        <img class="previewInput" src="<?php echo $this->getImgSrc('dev/imgpreview.png', 'app') ?>" alt="" width="100">
                    <?php endif; ?>
                </div>
            </div>
        </div>
        <br>
        <div class="grid-2 m-t-40">
            <div class="settings-input col-5">
                <input type="text" name="label" placeholder="Image label" <?php echo $form->getValue('label'); ?>><br>
                <input type="text" name="alt_text" placeholder="Alternative text" <?php echo $form->getValue('alt_text'); ?>><br>
            </div>
            <div class="col-7">
                <?php if (isset($imageId)): ?>
                    <img class="main-image" src="<?php echo $imageObject->getMediaPath('image') ?>" alt="<?php echo $imageObject->getAltText() ?>">
                <?php endif; ?>
            </div>
        </div>
   </form>
</div>

