<?php $mediaCollection = Collection::get('MediaVideo')->all(); ?>

<div class="media-box media-collection">
    <div class="grid-3_md-2_sm-1 preview-box">
        <?php foreach ($mediaCollection as $media): ?>
            <div class="col media-video-value <?php if ($currentMediaVideo == $media->getEntityId()): ?>active<?php endif; ?>" data-value-id="<?php echo $media->getEntityId() ?>">
                <div class="video-media">
                    <p><?php echo $media->getLabel() ?></p>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
</div>
