<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <?php echo $this->getAsset('zion.css','css','lib','app') ?>
    <?php echo $this->getAsset('blog.min.css','css', 'blog') ?>
</head>
<body>

<header>
    <?php $this->useTemplate('header') ?>
</header>

<main>
    <?php $this->useMainTemplate() ?>
</main>

</body>
</html>