<?php if (!empty($formErrors)): ?>
    <div class="form-errors">
        <div>
            <?php foreach ($formErrors as $error): ?>
                <p><?php echo $error; ?></p>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<form <?php echo $createForm->initFormTag($formActionParams) ?>>
    <div id="content-cta">
        <a href="<?php echo $this->getRoutePath('user_list'); ?>"><span class="button-previous"></span></a>
        <button class="button-save"></button>
        <input type="submit" style="display: none">
        <div class="breadcrumb">
            <a href="<?php echo $this->getRoutePath('user_list'); ?>">Users List</a>
        </div>
    </div>
    <div class="settings-box">
        <div class="settings-logo v-align-center">
            <p>profile image</p>
            <span class="button-add"></span>
            <input type="file" class="input-img" name="user_image">
            <?php if (!empty($userImages) && count($userImages) > 0): ?>
                <?php foreach ($userImages as $userImage): ?>
                    <?php if ($userImage->getIsMainImage() == true): ?>
                        <img class="previewInput" src="<?php echo $userImage->getMediaPath('path') ?>" alt="<?php echo $userImage->getAltText() ?>">
                    <?php else: ?>
                        <div class="user-img">
                            <a href="<?php echo $this->getRoutePath('set_user_image', ['user_id' => $userId, 'image_id' => $userImage->getEntityId()]); ?>">
                                <img class="img-circle" src="<?php echo $userImage->getMediaPath('path') ?>" alt="<?php echo $userImage->getAltText() ?>">
                            </a>
                            <a class="no-decoration" href="<?php echo $this->getRoutePath('user_image_delete', ['user_id' => $userId, 'image_id' => $userImage->getEntityId()]); ?>">
                                <span>x</span>
                            </a>
                        </div>
                    <?php endif; ?>
                <?php endforeach; ?>
            <?php else: ?>
                <img class="previewInput" src="<?php echo $this->getImgSrc('global/user.png', 'app') ?>" alt="" width="100">
            <?php endif; ?>
        </div>
    </div>

    <div id="content-form" class="m-t-40">
        <div class="grid">
            <div class="col">
                <div class="content-group">
                    <div class="content-title">
                        <h3>User information</h3>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>Pseudo</p>
                        </div>
                        <div class="content-param">
                            <input type="text" name="pseudo" placeholder="Pseudo" <?php echo $createForm->getValue('pseudo'); ?>><br>
                        </div>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>First name</p>
                        </div>
                        <div class="content-param">
                            <input type="text" name="firstname" placeholder="First name" <?php echo $createForm->getValue('firstname'); ?>><br>
                        </div>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>Last name</p>
                        </div>
                        <div class="content-param">
                            <input type="text" name="lastname" placeholder="Last name" <?php echo $createForm->getValue('lastname'); ?>><br>
                        </div>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>Email address</p>
                        </div>
                        <div class="content-param">
                            <input type="email" name="email" placeholder="Email address" <?php echo $createForm->getValue('email'); ?>><br>
                        </div>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>Secondary email address</p>
                        </div>
                        <div class="content-param">
                            <input type="email" name="secondary_email" placeholder="Secondary email address" <?php echo $createForm->getValue('secondary_email'); ?>><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="content-group">
                    <div class="content-title">
                        <h3>Access management</h3>
                    </div>
                    <div class="content-element">
                        <div class="content-title-no-toggle">
                            <p>Enable user account</p>
                            <div class="switch-container">
                                <input type="checkbox" name="is_active" class="switch" value="1" <?php echo $createForm->getValue('is_active'); ?>>
                                <label for="switch">Toggle</label>
                            </div>
                        </div>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>Password</p>
                        </div>
                        <div class="content-param">
                            <input type="password" name="user_password" placeholder="Password" ><br>
                        </div>
                    </div>
                    <div class="content-element">
                        <div class="content-title">
                            <p>Account expiration date</p>
                        </div>
                        <div class="content-param">
                            <input type="date" name="expires_at" <?php echo $createForm->getDateValue('expires_at'); ?>><br>
                        </div>
                    </div>
                    <div class="content-element">
                        <div id="select-roles" class="elexyr-select">
                            <div class="select-title">
                                <p>User role</p>
                                <span class="cta-color"><?php echo $createForm->getFieldValue('role'); ?></span>
                            </div>
                            <div class="select-items">
                                <span class="select-item"></span>
                            </div>
                            <select name="role">
                                <?php foreach ($roles as $roleCode => $roleLabel): ?>
                                    <option value="<?php echo $roleCode ?>" <?php echo $createForm->getValue('role', $roleCode); ?>><?php echo $roleLabel ?></option>
                                <?php endforeach; ?>
                            </select><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    jQuery(document).ready(function () {
        Input.elexyrSelect('#select-roles');
        Input.toggleContent('.content-group .content-title', '.content-param', '.content-element');
    })
</script>
