<?php $userHelper = Tools::get('user/user'); ?>
<?php $userId = $userHelper->getCurrentUserId(); ?>
<?php $searchForm = Form::get('app/search'); ?>

<div id="searchbar" class="v-align-center">
    <form <?php echo $searchForm->initFormTag([], 'app') ?>>
        <input name="search_query" type="text" placeholder="Search">
    </form>
    <div class="user-profile">
        <a href="<?php echo $this->getRoutePath('logout', [], 'user') ?>" class="logout"></a>
        <p>
            <a href="<?php echo $this->getRoutePath('user_edit', ['user_id' => $userId], 'user'); ?>">
                <div class="user-img m-r-10">
                    <img src="<?php echo Tools::get('user/image')->getUserMainImagePath($userId) ?>" alt="">
                </div>
                <?php echo $userHelper->getCurrentUserFullname() ?>
            </a>
        </p>
    </div>
</div>
