
<div>
    <div id="logo">
        <a href="<?php echo $this->getRoutePath('home', [], 'app') ?>">
            <img src="<?php echo $this->getImgSrc('global/elexyr.svg','app') ?>"  alt="">
        </a>
        <div id="sidebar-responsive-button">
            <a href="#">Menu</a>
        </div>
    </div>

    <?php $currentRoute = Request::getRouteCode_(); ?>

    <div id="sidebar-menu">
        <ul>
            <li class="<?php echo ($currentRoute === "home") ? "active" : ""; ?>" >
                <a href="<?php echo $this->getRoutePath('home', [], 'app') ?>">
            <span>
                <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86 92"><title>home-icon</title><path d="M41.19.59l-40,30A3,3,0,0,0,0,33V89a3.12,3.12,0,0,0,3,3H30a3.12,3.12,0,0,0,3-3V64a10,10,0,1,1,20,0V89a3.12,3.12,0,0,0,3,3H83a3.12,3.12,0,0,0,3-3V33a3.06,3.06,0,0,0-1.19-2.41l-40-30A3.07,3.07,0,0,0,41.19.59ZM43,6.75,80,34.5V86H59V64a16,16,0,1,0-32,0V86H6V34.5Z" style="fill:#95989a"/></svg>
            </span>
                    Home
                </a>
            </li>
            <li class="<?php echo ($currentRoute === "media_list") ? "active" : ""; ?>">
                <a href="<?php echo $this->getRoutePath('media_list', [], 'app') ?>">
                <span>
                    <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66.25 51.75"><title>icon-media</title><path id="a" d="M2.5,1.5H24.15l8.7,8.15,30.9-.15a.88.88,0,0,1,1,1V49.25a.88.88,0,0,1-1,1H2.5a.88.88,0,0,1-1-1V2.5A.88.88,0,0,1,2.5,1.5Z" style="fill:none;stroke:#95989a;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px"/></svg>
                </span>
                    Medias
                </a>
            </li>
            <li class="<?php echo ($currentRoute === "page_list" || $currentRoute === "page_list_page" || $currentRoute === "pages_custom" || $currentRoute === "pages_edit") ? "active" : ""; ?>">
                <a href="<?php echo $this->getRoutePath('page_list', [],'page') ?>">
                <span>
<svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88.01 88.02"><title>icon-pages</title><path d="M73.34,0a3,3,0,0,0-1.78.87L26.31,46.14a3,3,0,0,0-.87,1.78L24,60.64A3,3,0,0,0,27.34,64l12.72-1.41a3,3,0,0,0,1.81-.84L87.13,16.46a3,3,0,0,0,0-4.24h0L75.81.89A3,3,0,0,0,73.34,0Zm.34,7.22,7.06,7.09-1.41,1.41-7-7ZM3,10a3.34,3.34,0,0,0-3,3V85a3.12,3.12,0,0,0,3,3H75a3.12,3.12,0,0,0,3-3V42a3,3,0,0,0-6,0V82H6V16H46a3.11,3.11,0,0,0,3-3,3.11,3.11,0,0,0-3-3Zm65,2.88L75.09,20,40.44,54.64l-7.06-7.09ZM30.84,53.49l3.66,3.66-4.09.47Z" transform="translate(0 0.02)" style="fill:#95989a"/></svg>                </span>
                    Pages
                </a>
            </li>
            <li class="<?php echo ($currentRoute === "navigation") || ($currentRoute === "navigation_edit") || ($currentRoute === "navigation_item_custom") ? "active" : ""; ?>">
                <a href="<?php echo $this->getRoutePath('navigation', [], 'app'); ?>">
                <span>
                    <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 60"><title>icon-menu</title><path d="M0,0V8H76V0ZM0,26v8H76V26ZM0,52v8H76V52Z" style="fill:#95989a"/></svg>
                </span>
                    Navigation
                </a>
            </li>
            <li class="<?php echo ($currentRoute === "user_list") || ($currentRoute === "user_list_page") || ($currentRoute === "user_create") || ($currentRoute === "user_edit") ? "active" : ""; ?>">
                <a href="<?php echo $this->getRoutePath('user_list', [], 'user'); ?>">
                <span>
                    <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 507.38 512"><title>icon-users</title><path d="M253.69,269.41C328,269.41,388.4,209,388.4,134.7S328,0,253.69,0,119,60.43,119,134.71,179.41,269.41,253.69,269.41Zm0-229.25a94.54,94.54,0,1,1-94.54,94.54,94.54,94.54,0,0,1,94.54-94.54Z" style="fill:#95989a"/><path d="M40.17,512c0-117.74,95.79-213.52,213.52-213.52S467.21,394.26,467.21,512h40.17c0-140.11-113.57-253.69-253.68-253.7A253.69,253.69,0,0,0,0,512Z" style="fill:#95989a"/></svg>
                </span>
                    Users
                </a>
            </li>
            <li>
                <a href="<?php echo $this->getRoutePath('plugin_list', [], 'plugin'); ?>">
                <span>
                    <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88 88"><title>icon-plugins</title><path d="M51,0A14,14,0,0,0,37,14a13.75,13.75,0,0,0,.72,4H21a3,3,0,0,0-3,3V37.69A13.93,13.93,0,0,0,14,37a14,14,0,0,0,0,28,13.93,13.93,0,0,0,4-.69V85a3,3,0,0,0,3,3H42.5a3,3,0,0,0,2.31-4.94A7.85,7.85,0,0,1,43,78a8,8,0,0,1,16,0,7.84,7.84,0,0,1-1.81,5.06A3,3,0,0,0,59.5,88H85a3,3,0,0,0,3-3V59.5a3,3,0,0,0-4.91-2.31,8,8,0,1,1,0-12.37A3,3,0,0,0,88,42.5V21a3,3,0,0,0-3-3H64.28A13.75,13.75,0,0,0,65,14,14,14,0,0,0,51,0Zm0,6a8,8,0,0,1,8,8,7.84,7.84,0,0,1-1.81,5.06A3,3,0,0,0,59.5,24H82V37.69a14,14,0,1,0,0,26.63V82H64.28A13.75,13.75,0,0,0,65,78a14,14,0,0,0-28,0,13.75,13.75,0,0,0,.72,4H24V59.5a3,3,0,0,0-4.91-2.31,8,8,0,1,1,0-12.37A3,3,0,0,0,24,42.5V24H42.5a3,3,0,0,0,2.31-4.94A7.84,7.84,0,0,1,43,14,8,8,0,0,1,51,6Z" style="fill:#95989a"/></svg>
                </span>
                    Plugins
                </a>
            </li>
            <li class="<?php echo ($currentRoute === "themes") ? "active" : ""; ?>">
                <a href="<?php echo $this->getRoutePath('themes', [], 'theme'); ?>">
                <span>
                    <svg id="Calque_1"  data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 48"><title>icon-theme</title><path d="M16,48a5,5,0,0,1-5-5V31a1,1,0,0,1,2,0V43a3,3,0,0,0,6,0V31a1,1,0,0,1,2,0V43A5,5,0,0,1,16,48Z" style="fill:#95989a"/><path d="M25,32H7a7,7,0,0,1-7-7V17a1,1,0,0,1,1-1H31a1,1,0,0,1,1,1v8A7,7,0,0,1,25,32ZM2,18v7a5,5,0,0,0,5,5H25a5,5,0,0,0,5-5V18Z" style="fill:#95989a;height: "/><path d="M29,18H3a1,1,0,0,1-1-1V5A5,5,0,0,1,7,0H19a1,1,0,0,1,1,.8l1,5.1L22,.8A1,1,0,0,1,23,0h2a5,5,0,0,1,5,5V17A1,1,0,0,1,29,18ZM4,16H28V5a3,3,0,0,0-3-3H23.82L22,11.2a1,1,0,1,1-2,0L18.18,2H7A3,3,0,0,0,4,5Z" style="fill:#95989a"/><path d="M16,44a1,1,0,0,1,0-2h0a1,1,0,0,1,0,2Z" style="fill:#95989a"/></svg> </span>
                    Themes
                </a>
            </li>
            <li class="<?php echo ($currentRoute === "settings") ? "active" : ""; ?>">
                <a href="<?php echo $this->getRoutePath('settings', [], 'app'); ?>">
                <span>
                    <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90"><title>icon-settings</title><path d="M40,0a8,8,0,0,0-8,8v2.44c-.76.28-1.51.57-2.25.91L28,9.63a8,8,0,0,0-11.31,0L9.66,16.69A8.06,8.06,0,0,0,9.66,28l1.72,1.72c-.33.74-.65,1.49-.94,2.25H8a8,8,0,0,0-8,8V50a8,8,0,0,0,8,8h2.44c.28.75.61,1.48.94,2.22L9.66,61.94a8.06,8.06,0,0,0,0,11.34l7.06,7.06a8,8,0,0,0,11.31,0l1.72-1.72c.74.33,1.49.62,2.25.91V82a8,8,0,0,0,8,8H50a8,8,0,0,0,8-8V79.53c.76-.28,1.51-.57,2.25-.91L62,80.34a8,8,0,0,0,11.31,0l7.06-7.06a8.06,8.06,0,0,0,0-11.34l-1.72-1.72c.33-.74.66-1.46.94-2.22H82a8,8,0,0,0,8-8V40a8,8,0,0,0-8-8H79.56c-.28-.76-.6-1.51-.94-2.25L80.34,28a8.06,8.06,0,0,0,0-11.34L73.28,9.63A8,8,0,0,0,62,9.63l-1.72,1.72c-.74-.33-1.49-.62-2.25-.91V8a8,8,0,0,0-8-8H40Zm0,4H50a4,4,0,0,1,4,4v3.78a2,2,0,0,0,1.38,1.88,32.85,32.85,0,0,1,4.44,1.84,2,2,0,0,0,2.31-.37l2.66-2.66a4,4,0,0,1,5.69,0l7.06,7.06a4,4,0,0,1,0,5.66l-2.66,2.66a2,2,0,0,0-.37,2.31,33.14,33.14,0,0,1,1.81,4.47A2,2,0,0,0,78.22,36H82a4,4,0,0,1,4,4V50a4,4,0,0,1-4,4H78.22a2,2,0,0,0-1.91,1.34,33.14,33.14,0,0,1-1.81,4.47,2,2,0,0,0,.38,2.31l2.66,2.66a4,4,0,0,1,0,5.66L70.47,77.5a4,4,0,0,1-5.69,0l-2.66-2.66a2,2,0,0,0-2.31-.37,32.87,32.87,0,0,1-4.44,1.84A2,2,0,0,0,54,78.22V82a4,4,0,0,1-4,4H40a4,4,0,0,1-4-4V78.22a2,2,0,0,0-1.37-1.91,32.87,32.87,0,0,1-4.44-1.84,2,2,0,0,0-2.31.38L25.22,77.5a4,4,0,0,1-5.69,0l-7.06-7.06a4,4,0,0,1,0-5.66l2.66-2.66a2,2,0,0,0,.38-2.31,33.14,33.14,0,0,1-1.81-4.47A2,2,0,0,0,11.78,54H8a4,4,0,0,1-4-4V40a4,4,0,0,1,4-4h3.78a2,2,0,0,0,1.91-1.37,33.14,33.14,0,0,1,1.81-4.47,2,2,0,0,0-.37-2.31l-2.66-2.66a4,4,0,0,1,0-5.66l7.06-7.06a4,4,0,0,1,5.69,0l2.66,2.66a2,2,0,0,0,2.31.38,32.86,32.86,0,0,1,4.44-1.84A2,2,0,0,0,36,11.78V8A4,4,0,0,1,40,4Zm5,19A22,22,0,1,0,67,45,22,22,0,0,0,45,23Zm0,4A18,18,0,1,1,27,45,18,18,0,0,1,45,27Z" style="fill:#95989a"/></svg>
                </span>
                    Settings
                </a>
            </li>
        </ul>
    </div>
</div>

