
<?php foreach ($pageDatas as $key => $pageData): ?>
    <?php if($pageData['contents']['content0']['data']->getContentType() != "ContentHeaderFullHeight"): ?>
    <div class="grid-noBottom-noGutter_sm-<?php echo $pageData['section']->getTabletColumn(); ?>_xs-<?php echo $pageData['section']->getMobileColumn(); ?> section-<?php echo $pageData['section']->getEntityId(); ?>" style="background: <?php echo $pageData['section']->getBackgroundColor(); ?>; <?php if ($pageData['section']->getUseBackgroundImage() == 1 ): ?>background: url(<?php echo $pageData['section']->getMediaPath('background_image') ?>) no-repeat center fixed; background-size: cover <?php endif; ?>">
        <?php foreach ($pageData['contents'] as $content): ?>
                <?php $isHeader = false; ?>
                <?php foreach ($contentTypes as $contentType): ?>
                    <?php if (isset($contentType['is_header']) && isset($contentType['entity']) && $contentType['is_header'] === true && $contentType['entity'] == $content['data']->getContentType()): ?>
                        <?php $isHeader = true; ?>
                        <?php break; ?>
                    <?php endif; ?>
                <?php endforeach; ?>

                <?php if ($isHeader === true): ?>
                    <?php continue; ?>
                <?php endif; ?>

                <?php $this->updateControllerParam('content', $content) ?>
                <div class="col">
                    <div class="content-box">
                        <?php foreach ($contentTypes as $contentType): ?>
                            <?php // defaults content types management ?>
                            <?php if (isset($content['data']) && isset($contentType['template']) && isset($contentType['template_bundle']) && isset($contentType['entity']) && $content['data']->getContentType() === $contentType['entity']): ?>
                                <?php echo $this->useTemplate($contentType['template'], $contentType['template_bundle']); ?>
                            <?php endif; ?>
                            <?php // plugin management ?>
                            <?php if (isset($content['data']) && isset($contentType['template']) && isset($contentType['plugin_bundle']) && isset($contentType['entity']) && $content['data']->getContentType() === $contentType['entity']): ?>
                                <?php echo $this->useTemplate($contentType['template'], $contentType['plugin_bundle']); ?>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
    <?php endif; ?>
    <style>.section-<?php echo $pageData['section']->getEntityId() ?> .content-box > div{padding: <?php echo $pageData['section']->getItemsPadding() ?>;  padding-top: <?php echo $pageData['section']->getMarginTop(); ?>; padding-bottom: <?php echo $pageData['section']->getMarginBottom(); ?>;}</style>
<?php endforeach; ?>

