<div class="debug-cta">
    <a href="<?php echo $homePageUrl ?>">
        <img src="<?php echo $this->getImgSrc('buttons/button-elexyr.svg','app') ?>" height="20"  alt="">
    </a>
    <ul>
        <li>
            <a href="<?php echo $this->getRoutePath('home', [], 'app') ?>">dashboard</a>
        </li>
        <li>
            <a href="<?php echo $this->getRoutePath('pages_custom', ['id' => $currentPageId], 'page') ?>">edit page</a>
        </li>
    </ul>
</div>
<a href="<?php echo $this->getRoutePath('user_edit', ['user_id' => $currentUser->getEntityId()], 'user') ?>" class="user-info">
    <p> <?php echo $currentUser->getFirstname() . ' ' . $currentUser->getLastname(); ?></p>
    <img src="<?php echo Tools::get('user/image')->getUserMainImagePath($currentUser->getEntityId()) ?>" height="20" alt="">
</a>
