<div id="content-cta">
    <a href="<?php echo $this->getRoutePath('pages_custom',['id' => $currentPageItem->getEntityId()]); ?>" class="button-previous"></a>
    <div class="breadcrumb">
        <a href="<?php echo $this->getRoutePath('page_list'); ?>">pages</a><a href="<?php echo $this->getRoutePath('pages_custom', ['id' => $currentPageItem->getEntityId()]); ?>"><?php echo $currentPageItem->getName(); ?></a>
    </div>
    <div class="breadcrumb">
        <div class="forward">
            <span></span>
            <a href="<?php echo $frontendUrl; ?>" target="blank">View page</a>
        </div>
    </div>
</div>

<div id="content-box">
    <div class="grid-4">
        <?php foreach ($allContentTypes as $contentType): ?>
            <div class="col">
                <div class="content-item">
                    <div class="content-title">
                        <h3><?php if (isset($contentType['name'])) { echo $contentType['name']; }?></h3>
                        <img width="<?php if (isset($contentType['icon_width'])) { echo $contentType['icon_width']; } ?>" src="<?php if (isset($contentType['icon']) && isset($contentType['icon_bundle'])) { echo $this->getImgSrc($contentType['icon'], $contentType['icon_bundle']); } ?>"  alt="">
                    </div>
                    <div>
                        <?php // manage content type bundle for routes ?>
                        <?php $contentTypeBundle = 'page'; ?>
                        <?php if (isset($contentType['plugin_bundle'])): ?>
                            <?php $contentTypeBundle = $contentType['plugin_bundle']; ?>
                        <?php endif; ?>

                        <?php if (isset($contentType['entity']) && $currentContentType == $contentType['entity']): ?>
                            <?php if (isset($contentType['name'])): ?>
                                <?php $currentContentTypeName = $contentType['name'] ?>
                            <?php endif; ?>
                            <?php // edition link ?>
                            <a href="<?php if (isset($contentType['route_edit'])) { echo $this->getRoutePath($contentType['route_edit'], [
                                'page_id' => $currentPageItem->getEntityId(),
                                'content_id' => $currentContentId,
                                'id' => $currentContent->getContentTypeId()
                            ], $contentTypeBundle); } ?>">
                                <span class="button-paint"></span>
                            </a>
                        <?php elseif(isset($contentType['entity']) && !empty($currentContentType) && $currentContentType != $contentType['entity']): ?>
                            <a class="warning-create" data-href="<?php if (isset($contentType['route_create'])) { echo $this->getRoutePath($contentType['route_create'], ['page_id' => $currentPageItem->getEntityId(), 'id' => $currentContentId], $contentTypeBundle); } ?>">
                                <span class="button-add"></span>
                            </a>
                        <?php elseif (empty($currentContentType)): ?>
                            <?php // creation link ?>
                            <a href="<?php if (isset($contentType['route_create'])) { echo $this->getRoutePath($contentType['route_create'], ['page_id' => $currentPageItem->getEntityId(), 'id' => $currentContentId], $contentTypeBundle); } ?>">
                                <span class="button-add"></span>
                            </a>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
</div>

<div class="modal modal-warning">
    <h2 class="txtCenter">WARNING</h2>
    <br>
    <p>If you save a new content type, the current one
        <?php if (isset($currentContentTypeName)): ?>
            ( <span class="orange"><?php echo $currentContentTypeName ?></span> )
        <?php endif; ?>
        will be deleted</p>
    <div class="modal-cta">
        <span class="modal-cancel">cancel</span>
        <a href="">
            <span class="modal-warning">accept</span>
        </a>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        Modal.warningModal('.warning-create > .button-add','.modal.modal-warning');
        Modal.sendHrefToModal('.warning-create .button-add', '.modal.modal-warning .modal-warning');
    });
</script>