@import "zion/z-mixins";

@include fontFace('SF-thin', '../fonts/SF/SF-thin', ttf);

body {
  font-family: SF-thin, Georgia, serif;

  background: linear-gradient(145deg, #16a085, #1abc9c, #2ecc71, #27ae60, #2980b9, #3498db);
  background-size: 1200% 1200%;
  animation: backgroundgradient 150s ease infinite;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  > div:not(.form-errors) {
    max-width: 400px;
    width: 100%;
    background: #FFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    padding: 2em;
    text-align: center;
    margin: 3em;
    .intro {
      margin-bottom: 2em;
      h1 {
        font-size: 25px;
        color: #2ecc71;
        font-weight: 600;
      }
      h3 {
        color: #a9aeb1;
      }
    }
    #elexyr-timeline {
      display: flex;
      justify-content: space-between;
      max-width: 300px;
      margin: 20px auto;
      position: relative;
      z-index: 1;
      .timeline-item {
        span {
          background: #bdc3c7;
          color: white;
          width: 30px;
          height: 30px;
          display: block;
          margin: auto;
          text-align: center;
          line-height: 30px;
          border-radius: 50%;
          position: relative;
        }
        &:not(:first-child) {
          span {
            &:after {
              content: '';
              width: 100px;
              height: 3px;
              display: block;
              position: absolute;
              top: 50%;
              right: 0;
              transform: translate(0, -50%);
              background: #bdc3c7;
              z-index: -1;
            }
          }
          &.active {
            span {
              background: #2ecc71;
              &:after {
                background: #2ecc71;
              }
            }
          }
        }
        &:first-child {
          span {
            background: #2ecc71;
          }
        }
      }
    }
    .content {
      h3 {
        margin: 2em 0;
        color: #2ecc71;
        font-weight: 600;
      }
      label {
        display: flex;
        margin-bottom: 1em;
        align-items: center;
        span:not(.button-add) {
          flex: 1;
        }
        input {
          flex: 1;
          outline: 0;
          background: #f2f2f2;
          border: 0;
          padding: 1em;
          box-sizing: border-box;
          font-size: 14px;
        }
      }
    }
    .start {
      text-decoration: none;
      margin: 2em 0 0 0;
      text-transform: uppercase;
      outline: 0;
      background: #2ecc71;
      width: 100%;
      border: .2em solid #2ecc71;
      padding: 1em;
      color: #fff;
      font-size: 14px;
      transition: all .3s ease;
      cursor: pointer;
      opacity: .9;
      display: block;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.content {
  .settings-logo {
    span {
      margin: 0 10px;
    }
    .input-img {
      display: none;
    }
    .previewInput {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 5px solid #2ECC71;
      object-fit: cover;
    }
    .user-img {
      position: relative;
      img {
        height: 100px;
        width: 100px;
        margin-left: 5px;
      }
    }
  }
  p {
    flex: 1;
  }
  .main-image {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.button-add {
  @extend .button-default;
  background: url(../img/buttons/button-add.svg) no-repeat center center;
}

.button-default {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  margin: 3px;
  border: none;
  box-shadow: 0 0 5px #ecf0f1;
  outline: none;
  cursor: pointer;
  background-size: 50%;
  &:hover {
    background-color: #ecf0f1;
    background-size: 50%;
  }
}

.no-decoration {
  text-decoration: none;
  color: #95989a;
}

.form-errors {
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #d8000c;
  background-color: #ffbaba;
  padding: 10px;
  z-index: 1;
  img {
    width: 25px;
    margin: auto;
    display: block;
  }
  p {
    margin: 0;
    padding: 10px;
  }
  .close {
    position: absolute;
    right: 10px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      color: white;
      transition: 0.5s;
    }
  }
  div {
    text-align: center;
  }
}

@keyframes backgroundgradient {
  0% {
    background-position: 14% 0%
  }
  50% {
    background-position: 87% 100%
  }
  100% {
    background-position: 14% 0%
  }
}