<?php if (!empty($formErrors)): ?>
    <div class="form-errors">
        <div>
            <?php foreach ($formErrors as $error): ?>
                <p><?php echo $error; ?></p>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>

<form <?php echo $updateForm->initFormTag(['id' => $currentNavigationId, 'navigation_item_id' => $currentNavigationItemId]) ?>>
    <div id="content-cta">
        <a href="<?php echo $this->getRoutePath( 'navigation_edit', ['id' => $currentNavigationId] ); ?>"><span class="button-previous"></span></a>
        <button class="button-save"></button>
        <a href="<?php echo $this->getRoutePath( 'navigation_edit', ['id' => $currentNavigationId] ); ?>"><span class="button-elexyr active"></span></a>
        <input type="submit">
        <div class="breadcrumb">
            <a href="<?php echo $this->getRoutePath( 'navigation_edit', ['id' => $currentNavigationId] ); ?>"> <?php echo $currentNavigationName; ?> </a>
            <a href="<?php echo $this->getRoutePath( 'navigation_edit', ['id' => $currentNavigationId] ); ?>"> <?php echo $currentNavigationItem->getTitle() ?></a>
        </div>
    </div>



    <div class="navigation-custom-box">
        <div class="navigation-custom-items">
            <div class="grid">
                <div class="col">
                    <div class="navigation-group">
                        <div class="navigation-group-title">
                            <h3>Element</h3>
                        </div>
                        <div class="navigation-group-element">
                            <div class="navigation-group-element-title">
                                <p>Text color</p>
                            </div>
                            <div class="navigation-group-element-param">
                                <div class="color-preview">
                                    <input name="text_color" type="text" <?php echo $updateForm->getValue('text_color'); ?>>
                                    <div style="background: <?php echo $updateForm->getFieldValue('text_color'); ?> "></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="navigation-group">
                        <div class="navigation-group-title">
                            <h3>Hover</h3>
                        </div>
                        <div class="navigation-group-element">
                            <div class="navigation-group-element-title-no-toggle">
                                <p>Use Hover Background Color</p>
                                <div class="switch-container">
                                    <input name="use_hover_background_color" type="checkbox" class="switch" value="1" <?php echo $updateForm->getValue('use_hover_background_color')?>><label for="switch">Toggle</label>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="navigation-group-element">
                            <div class="navigation-group-element-title">
                                <p>Background Hover Color</p>
                            </div>
                            <div class="navigation-group-element-param">
                                <div class="color-preview">
                                    <input name="hover_background_color" type="text" <?php echo $updateForm->getValue('hover_background_color'); ?>>
                                    <div style="background: <?php echo $updateForm->getFieldValue('hover_background_color'); ?> "></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="navigation-group-element">
                            <div class="navigation-group-element-title">
                                <p>Text Hover Color</p>
                            </div>
                            <div class="navigation-group-element-param">
                                <div class="color-preview">
                                    <input name="text_hover_color" type="text" <?php echo $updateForm->getValue('text_hover_color'); ?>>
                                    <div style="background: <?php echo $updateForm->getFieldValue('text_hover_color'); ?>"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="navigation-group">
                        <div class="navigation-group-title">
                            <h3>Active</h3>
                        </div>
                        <div class="navigation-group-element">
                            <div class="navigation-group-element-title-no-toggle">
                                <p>Use Active Background Color</p>
                                <div class="switch-container">
                                    <input name="use_active_background_color" type="checkbox" class="switch" value="1" <?php echo $updateForm->getValue('use_active_background_color')?>><label for="switch">Toggle</label>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="navigation-group-element">
                            <div class="navigation-group-element-title">
                                <p>Active Background Color</p>
                            </div>
                            <div class="navigation-group-element-param">
                                <div class="color-preview">
                                    <input name="active_background_color" type="text" <?php echo $updateForm->getValue('active_background_color'); ?>>
                                    <div style="background: <?php echo $updateForm->getFieldValue('active_background_color'); ?>"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    jQuery(document).ready(function () {
        Input.toggleContent('.navigation-group-element-title','.navigation-group-element-param','.navigation-group-element');
        Input.triggerSave('#content-cta .button-save');
        Input.colorPreview('.color-preview');
    })
</script>
