<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Bundle</title>
    <!-- css -->
    <?php echo $this->getAsset('user.min.css','css','user') ?>
    <!-- jquery -->
    <?php echo $this->getAsset('jquery.js','js','app') ?>
</head>
<body>
    <div class="overlay-login"></div>
    <?php $this->useMainTemplate(); ?>
</body>
</html>