@import "zion/z-mixins";

@include fontFace('SF-thin','../fonts/SF/SF-thin', ttf);

body{
  font-family: SF-thin, Georgia, serif;
}
.container{
  display: block;
  max-width: 1100px;
  margin: auto;
}
.single-content{
  margin-top: 3em;
  .intro{
    text-align: center;
    hr{
      max-width: 100px;
      display: block;
      margin: auto;
      border: 2px solid #2ecc71;
    }
    h1{
      font-weight: bold;
      font-size: 30px;
      padding: 1em 0;
    }
    h3{
      padding-bottom: 1em;
    }
    img{
      max-width: 100%;
      display: block;
      margin: auto;
    }
  }
  .content{
    margin: 3em auto;
    .article-content{
      padding: 0 3em;
    }
    .author-info{
      > div{
        padding: 1em;
        img{
          width: 60Px;
          height: 60px;
          object-fit: cover;
          border-radius: 50%;
          display: block;
          margin: auto;
        }
        p{
          text-align: center;
          &:first-child{
            font-size: 14px;
          }
        }
        border: 1px solid #e8e8e8;
        &:last-child{
          border-top: none;
        }
      }
    }
  }
}

header{
  .logo{
    text-align: center;
    padding: 1em 0;
    border-bottom: 1px solid #e8e8e8;
  }
  nav{
    display: flex;
    justify-content: center;
    padding: 1em 0;
    ul{
      li{
        display: inline-block;
        a{
          text-decoration: none;
          padding: 1em;
        }
        &:hover{
          a{
            color: #2ecc71;
            background: #e8e8e8;
          }
        }
      }
    }
  }
}
