<div class="contentBlog">
    <div>
        <?php if (!empty($content)): ?>
            <h1 style="font-size: <?php echo $content['contentType'][0]->getTitleFontSize(); ?>px; color: <?php echo $content['contentType'][0]->getTitleColor(); ?>"><?php echo $content['contentType'][0]->getTitle(); ?></h1>
            <div class="description">
                <?php echo $content['contentType'][0]->getDescription(false); ?>
            </div>
        <div class="grid-<?php echo $content['contentType'][0]->getDesktopGridColumns(); ?>_md-4_sm-<?php echo $content['contentType'][0]->getTabletGridColumns(); ?>_xs-<?php echo $content['contentType'][0]->getMobileGridColumns(); ?>">
                <?php foreach ($articlesCollection as $article): ?>
                    <?php $introImage = Entity::get('MediaImage')->loadById($article->getPreviewImage()); ?>
                    <div class="col">
                        <div class="article-box">
                            <img width="100%" src="<?php echo $introImage->getMediaPath('image') ?>" alt="">
                            <div>
                                <h3><?php echo $article->getName() ?></h3>
                                <a href="<?php echo $routerHelper->getFrontendUrl($article->getUrlKey()) ?>" style="color: <?php echo $content['contentType'][0]->getTitleColor(); ?>; border-color: <?php echo $content['contentType'][0]->getTitleColor(); ?>">Read more</a>
                                <style>
                                    .article-box a:hover{
                                       background: <?php echo $content['contentType'][0]->getTitleColor(); ?>;
                                       color: #fff!important;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                <?php endforeach; ?>
        </div>
        <?php endif; ?>
    </div>

</div>
